<div class="itembox">
        <section id="shifu_o_003" onmousedown="shifuMouseDownStyle('shifu_o_003')">
                <div style="box-sizing:border-box;width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;line-height:1.6;display:block!important;">
                        <section style="box-sizing:border-box;width:100%;background-color:#fff;padding-left:10px;padding-right:10px;font-size:12px;display:block;line-height:1.6;cursor: pointer;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition: .2s;">
                                <section style="overflow: visible;">
                                        <div style="display: inline-block; vertical-align: top; width: 50%;">
                                                <section style="overflow: visible;">
                                                        <div style="text-align: left; color: rgb(160, 160, 160); font-size: 100%;"><p style="text-align:center;margin:0;padding:0;"><br></p><p style="text-align:center;margin:0;padding:0;"><br></p><p class="bk_fontcolor" style="text-align:center;margin:0;padding:0;"><strong>点击“蓝色”关注</strong></p><p class="bk_fontcolor" style="text-align:center;margin:0;padding:0;"><strong>企业+</strong></p></div>
                                                </section>
                                        </div><!--
                                        --><div style="display: inline-block; vertical-align: top; width: 50%;">
                                        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;"><img style="max-width: 100%;vertical-align:middle" src="/mobile/data/editor/month_201611/14793687769502.png"></section>
                                </div>
                                </section>
                        </section>
                </div>
        </section>
</div>