<div class="itembox">
	<section style="box-sizing:border-box; margin: 5px 0 0; padding: 10px;" id="shifu_o_016" onmousedown="shifuMouseDownOther('shifu_o_016')"><p></p>
		<section class="border" style="box-sizing:border-box; margin: -15px auto 0 100px;width: 0; height: 0;border-left: 4px solid transparent; border-right: 22px solid transparent; border-bottom: 24px solid #f77d00;">&nbsp;</section>
		<section class="color" style="box-sizing:border-box; margin-top: -1px;border:3px solid #f77d00; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 37px; border-radius: 10px; text-align: center;background:none;"><span class="bk_fontcolor" style="font-size:14px;color: #000;">点击上方<span class="bk_fontcolor" style="color: #607fa6;">“xxx”</span>关注我们</span></section><p></p>
	</section>
</div>