<div class="itembox">
	<section style="box-sizing:border-box;margin: 5px 0 0; padding: 10px;" id="shifu_o_014" onmousedown="shifuMouseDownOther('shifu_o_014')"><p></p><section style="box-sizing:border-box;margin: -15px auto 0 55px;width: 0; height: 0;border-left: 18px solid transparent; border-right: 0px solid transparent; border-bottom: 27px solid #bfd730;">&nbsp;</section>
		<section style="box-sizing:border-box;margin-top: -1px; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 40px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); background-color: rgb(191, 215, 48);"><span class="bk_fontcolor" style="font-size:14px;color: #000;">↑点击上方<span style="color: #607fa6;">“xxx”</span>免费订阅</span></section><p></p>
	</section>
</div>