<div class="itembox">
	<section style="box-sizing:border-box;margin: 5px 0 0; padding: 10px;" id="shifu_o_020" onmousedown="shifuMouseDownOther('shifu_o_020')"><p></p>
		<section class="bk_backgroundcolor" style="box-sizing:border-box;margin-top: -1px;margin-bottom: 0; min-height: 36px; visibility: visible; height: 36px; line-height: 36px; border-radius: 10px; text-align: center; background: #00bec2;border:2.1px solid #fff;box-shadow: 0px 3px 5px #BEBEBE;"><span style="font-size:14px;color: #fff;">↑ 点击上方<span style="color: #607fa6;">“xxx”</span>关注我们</span></section><p></p>
	</section>
</div>