<div class="itembox">
	<section id="shifu_c_009" onmousedown="shifuMouseDownCard('shifu_c_009')" class="bk_bordercolor" style="border-style: none;margin:2em 1em; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(0, 0, 0); display: block; font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; color: rgb(166, 166, 166); background-color: rgb(255, 255, 255);box-sizing:border-box;">
		<section style="margin-top: -1.4em;text-align: center;text-align: center; padding: 0; border: none; line-height: 1.4;">
			<section class="bk_fontcolor" style="box-sizing:border-box;padding: 0 24px;color: rgb(70, 70, 70); font-size: 20px; white-space: normal; text-align: center; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; background-color: #feffff; border-color: #ffffff;display: inline-block;">
				<section>白海棠</section>
			</section>
		</section>
		<section class="bk_fontcolor" style="box-sizing:border-box;padding: 16px; color: rgb(32, 32, 32); font-size: 1em; line-height: 1.4; font-family: inherit; font-style: normal;"><p style="margin:0;">半卷湘帘半掩门，碾冰为土玉为盆。偷来梨蕊三分白，借得梅花一缕魂。月窟仙人缝缟袂，秋闺怨女试啼痕。娇羞默默同谁诉，倦倚西风夜已昏。</p></section>
	</section>
</div>