<div class="itembox">
        <section id="shifu_c_001" onmousedown="shifuMouseDownStyle('shifu_c_001')">
                <div class="bk_fontcolor" style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#000;box-sizing: border-box;">
                        <section style="width: 50%; display: inline-block; float: left;">
                                <section class="bk_bordercolor" style="box-sizing: border-box;padding: 20px 12px; min-height: 140px; text-align: center; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); background-image: initial; background-attachment: initial; background-color: rgb(255, 255, 255); background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                                        <div style="line-height:2em;text-align: center; white-space: normal;">如果我会发光，</div>
                                        <div style="line-height: 2em;text-align: center; white-space: normal;">就不必害怕黑暗,</div>
                                        <div style="line-height:2em;text-align: center; white-space: normal;">如果我自己是那么美好，</div>
                                        <div style="line-height:2em;text-align: center; white-space: normal;">那么一切恐惧都会烟消云散</div>
                                </section>
                        </section>
                        <section style="color: inherit; margin-left: 0px; width: 50%; display: inline-block; text-align: center;">
                                <section class="bk_bordercolor" style="box-sizing: border-box;padding: 20px 12px; min-height: 140px; color: inherit; background: rgb(255,255,255);border-bottom:1px solid rgb(0,0,0)">
                                        <div style="line-height:2em;text-align: center; white-space: normal;">如果我会发光，</div>
                                        <div style="line-height: 2em;text-align: center; white-space: normal;">就不必害怕黑暗,</div>
                                        <div style="line-height: 2em;text-align: center; white-space: normal;">如果我自己是那么美好，</div>
                                        <div style="line-height: 2em;text-align: center; white-space: normal;">那么一切恐惧都会烟消云散</div>
                                </section>
                        </section>
                        <section style="border: 0px none; padding: 0px;">
                                <section style="margin-top: 0px;">
                                        <section style="width: 50%; display: inline-block; float: left; color: inherit;">
                                                <section class="bk_bordercolor" style="box-sizing: border-box;padding: 20px 12px; min-height: 140px;text-align: center; color: inherit; background: rgb(255,255,255);border-right:1px solid rgb(0,0,0)">
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">如果我会发光，</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">就不必害怕黑暗,</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">如果我自己是那么美好，</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">那么一切恐惧都会烟消云散</div>
                                                </section>
                                        </section>
                                        <section style="margin-left: 0px; width: 50%; display: inline-block; text-align: center; color: inherit;">
                                                <section style="box-sizing: border-box;padding: 20px 12px; min-height: 140px;color: inherit; background: rgb(255,255,255);">
                                                        <div style="line-height:2em;">如果我会发光，</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">就不必害怕黑暗,</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">如果我自己是那么美好，</div>
                                                        <div style="line-height: 2em;text-align: center; white-space: normal;">那么一切恐惧都会烟消云散</div>
                                                </section>
                                        </section>
                                </section>
                        </section>
                        <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                </div>
        </section>
</div>