<div class="itembox">
	<section style=" margin:1em auto; width: 80%; border-style: none;" id="shifu_c_005" onmousedown="shifuMouseDownCard('shifu_c_005')">
		<section style="box-sizing:border-box;padding: 16px; padding: 30px 20px; border-top: 2px solid #616161; border-bottom: 2px solid #616161; color: #616161;font-size: 14px;line-height: 1.4;">
			<div style=" width: 0; height: 0; border-left: 27px solid transparent; border-right: 27px solid transparent; display: block; margin: -30px auto 29px; border-top: 11px solid #616161;box-sizing:border-box;"></div>
			<p class="bk_fontcolor" style="margin:0;">到不了的地方都叫做远方，回不去的世界都叫做家乡，我一直向往的却是比远更远的地方。</p>
		</section>
	</section>
</div>