<div class="itembox">
	<section id="shifu_c_011" onmousedown="shifuMouseDownCard('shifu_c_011')" style="text-align:center;box-sizing:border-box;padding-left:20px;">
		<section class="bk_bordercolor" style="box-sizing:border-box;border-style: none;margin:2em auto; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(0, 0, 0); display:inline-block; font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; color: rgb(166, 166, 166); background-color: rgb(255, 255, 255);">
			<section class="bk_fontcolor" style="box-sizing:border-box;padding: 16px; color: rgb(32, 32, 32); font-size: 1em; line-height: 1.4; font-family: inherit; font-style: normal;text-align: center;">
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">汴水流 泗水流 流</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">到瓜州古渡头 吴山</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">点点愁 </h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">思悠悠 恨悠悠 恨</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">到归时方始休 月明</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">人倚楼。</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">&nbsp</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">&nbsp</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">&nbsp</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">&nbsp</h1>
				<h1 style="width: 16px;margin-left: 10px;font-size: 16px;float: right; letter-spacing: 10px;">&nbsp</h1>
			</section>
			<section style="margin-top: -0.6em;width:30px;padding: 0; border: none; line-height: 1.4;margin-left: -33px;">
				<div class="bk_fontcolor" style="box-sizing:border-box; color: rgb(70, 70, 70); font-size: 16px; text-align: center; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; background-color: #feffff; border-color: #ffffff; display: block; padding: 6px 10px;">长相思 白居易</div>
			</section>
			<div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
		</section>
	</section>
</div>