<div class="itembox">
	<section id="shifu_c_019" onmousedown="shifuMouseDownCard('shifu_c_019')" style="box-sizing:border-box;border:0;margin-top:5px;font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; border-style: none; text-decoration: inherit; color: rgb(51, 51, 51); background-color: transparent; border-color: #b7b8b8;">
		<section style="height: 16px; box-sizing: border-box;">
			<section class="bk_bordercolor" style="height: 100%; width: 24px; float: left; border-top-width: 6px; border-top-style: solid; border-left-width: 6px; border-left-style: solid; border-color: #b7b8b8;box-sizing:border-box;"></section>
			<section class="bk_bordercolor" style="height: 100%; width: 24px; float: right; border-top-width: 6px; border-top-style: solid; border-right-width: 6px; border-right-style: solid; border-color: #b7b8b8;box-sizing:border-box;"></section>
			<div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
		</section>
		<section class="bk_fontcolor bk_bordercolor" style="margin: -13px 3px; padding: 12px; border: 1px solid #e6e6e6; border-radius: 6px; line-height: 1.4; word-break: break-all; word-wrap: break-word; box-sizing: border-box; font-family: inherit; font-style: normal; color: rgb(51, 51, 51);box-sizing:border-box;">真正的高贵应该是优于过去的自己</section>
		<section style="height: 15px; box-sizing: inherit;">
			<section class="bk_bordercolor" style="height: 100%; width: 24px; float: left; border-bottom-width: 6px; border-bottom-style: solid; border-left-width: 6px; border-left-style: solid; border-color: #b7b8b8;box-sizing:border-box;"></section>
			<section class="bk_bordercolor" style="height: 100%; width: 24px; float: right; border-bottom-width: 6px; border-bottom-style: solid; border-right-width: 6px; border-right-style: solid; border-color: #b7b8b8;box-sizing:border-box;"></section>
			<div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
		</section>
	</section>
</div>