<div class="itembox">
	<section id="shifu_c_029" onmousedown="shifuMouseDownCard('shifu_c_029')" style="box-sizing:border-box;border-style: none;border:0;margin: 1em; padding: 0;">
		<section style="margin-left: 1em; line-height: 1.4;"><span class="bk_backgroundcolor" style="padding: 0.2em 0.5em; box-sizing:border-box;border-radius: 0.3em; color: white; font-size: 1em; text-align: center; background-color: rgb(102, 102, 102);"><span style="font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: rgb(255, 255, 255);">标题</span></span></section>
		<section class="bk_bordercolor" style="margin-top: -0.7em; border: 1px solid #c0c8d1; border-radius: 0.4em; color: #333; font-size: 1em;box-sizing:border-box; ">
			<section style="padding: 1.4em 1em 1em;box-sizing:border-box;">
				<section class="bk_fontcolor" style="font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: rgb(51, 51, 51);"><p style="margin:0;">在离别的车站，她上了车，我没有像以往那样的目送那班车到消失，而是头也不回的走向家的方向。</p></section>
			</section>
		</section>
	</section>
</div>