<div class="itembox">
	<section class="bk_bordercolor" id="shifu_c_025" onmousedown="shifuMouseDownCard('shifu_c_025')" style="border-style: none;border:1px solid #dcdddd; margin-top: 10px;font-size: 16px;border-radius:10px;overflow: hidden;box-sizing:border-box;">
		<section class="bk_backgroundcolor" style="box-sizing:border-box;padding: 8px 16px;background: #dcdddd;border-radius:8px 8px 0 0;">标题</section>
		<section class="bk_fontcolor" style="box-sizing:border-box;padding: 16px;line-height: 1.4;"><p style="margin:0;">白雪却嫌春色晚，故穿庭树作飞花</p></section>
	</section>
</div>