<div class="itembox">
	<section class="bk_bordercolor" id="shifu_c_026" onmousedown="shifuMouseDownCard('shifu_c_026')" style="border-style: none;border:0;margin-top:2em; padding: 0.5em 0; white-space: normal;border: none; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; display: block; font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; color: rgb(166, 166, 166); background-color: rgb(255, 255, 255);box-sizing:border-box;">
		<section style="box-sizing:border-box;margin-top: -1.8em;text-align: center;text-align: center; padding: 0; border: none; line-height: 1.4;">
			<section class="bk_bordercolor bk_backgroundcolor" style="padding: 8px 12px;box-sizing:border-box;color: rgb(255, 255, 255); font-size: 1em; white-space: normal; text-align: center; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; background-color: #b7b8b8; border-color: #b7b8b8;display: inline-block">
				<section>标题</section>
			</section>
		</section>
		<section class="bk_fontcolor" style="padding: 16px;box-sizing:border-box;color: rgb(32, 32, 32); font-size: 1em; line-height: 1.4; font-family: inherit; font-style: normal;"><p style="margin:0;">种一棵树最好的时间是十年前，其次是现在。</p></section>
	</section>
</div>