<div class="itembox">
        <section id="shifu_c_037" onmousedown="shifuMouseDownStyle('shifu_c_037')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <div style="overflow:hidden;font-size:16px;word-break:break-word;">
                                <section style="display: inline-block; width: 100%; border-bottom:1px solid rgb(198,198,199);box-sizing:border-box;padding-bottom:5px;">
                                        <section style="display:inline-block;float: left;width:24%;">
                                                <section style="display: inline-block;text-align: center; ">
                                                        <section style="display:inline-block;vertical-align:top; color: rgb(255, 255, 255); "><span style="font-size: 36px; color: #262626;">01</span></section>
                                                        <section style="width: 1px; height:50px;border-left:1px solid rgb(198,198,199);background-color: rgb(254,254,254); transform: rotate(45eg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);display:inline-block;margin-top:22px;"></section>
                                                </section>
                                                <section style="color: #737373;display:inline-block;vertical-align:top;margin-top:45px;"><span style="font-size: 16px; color: #7F7F7F;">30</span></section>
                                        </section>
                                        <section style="box-sizing:border-box;padding: 5px 0px;display:inline-block;margin-top:15px;width:100%">
                                                <div style="clear: none; font-size: 14px; line-height: 17px; box-sizing: border-box; padding: 0px; margin: 0px;"><span style="color:#A5A5A5;">本期作者：xxxxx</span></div>
                                        </section>
                                </section>
                                <section style="margin-top:15px;">
                                        <div class="bk_fontcolor" style="font-size: 14px;line-height: 1.75em;">我们年轻时坚持一些自己认为是正确的东西的时候，总有些长辈，完全是出于善意好心，过来提醒你，告诉你这个社会不像你想的那样，如果你要想怎么样，就必须怎么怎么样。这种话你是不是听过很多次啊？我长大的过程中也不断地听到这种话，我从来都不听，我就一直坚持我年轻时认为是正确的东西。——罗永浩</div>
                                </section>
                        </div>
                </div>
        </section>
</div>