<div class="itembox">
        <section id="shifu_c_038" onmousedown="shifuMouseDownStyle('shifu_c_038')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <div style="overflow:hidden;font-size:16px;word-break:break-word;">
                                <section style="margin-top: 10px; margin-bottom: 10px; padding: 5px; overflow: hidden; position: static;box-sizing:border-box">
                                        <section style="margin-top: 10px; margin-bottom: 10px;transform: rotate(3deg);-webkit-transform: rotate(3deg);-moz-transform: rotate(3deg);-o-transform: rotate(3deg);">
                                                <section style="border: 1px solid rgb(204, 204, 204);box-sizing:border-box">
                                                        <section style=";transform: rotate(-3deg);-webkit-transform: rotate(-3deg);-moz-transform: rotate(-3deg);-o-transform: rotate(-3deg);">
                                                                <section style="padding: 10px;border: 1px solid rgb(204, 204, 204);width: 100%;background: rgb(254,254,254);box-sizing:border-box">
                                                                        <p class="bk_fontcolor" style="margin:0;">你不了解真正的失去。唯有爱别人胜过爱自己才能体会。——《心灵捕手》</p>
                                                                </section>
                                                        </section>
                                                </section>
                                        </section>
                                </section>
                        </div>
                </div>
        </section>
</div>