<div class="itembox">
	<section id="shifu_c_032" onmousedown="shifuMouseDownCard('shifu_c_032')" style="border-style: none;border: none;margin-top: 1em;">
		<section class="bk_backgroundcolor" style="width: 15em; height: 15em;margin: 0 auto; padding: 2.8em 1.5em 2em 1.5em;border-radius: 12em;overflow: hidden; box-sizing: border-box; text-align: center; opacity: 0.85; background-color: #b7b8b8;box-sizing:border-box;">
			<section style="display: inline-block; padding: 0.2em 0.2em 0.2em 0px;border-bottom: 2px solid white; color: rgb(255, 255, 255); text-align: inherit; font-size: 24px; font-family: inherit; font-style: normal; line-height: 1.4; font-weight: inherit; text-decoration: inherit;box-sizing:border-box;">
				<section>标题</section>
			</section>
			<section style="padding: 0.5em 0px; color: rgb(255, 255, 255); text-align: inherit; font-size: 1em;text-align:left;line-height: 1.2; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit;box-sizing:border-box;">一想到大家总有天要死，就觉得该对喜欢的人好一点</section>
		</section>
	</section>
</div>