<div class="itembox">
        <section id="shifu_c_039" onmousedown="shifuMouseDownStyle('shifu_c_039')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <div style="overflow:hidden;font-size:16px;word-break:break-word;">
                                <section style="max-width: 100%; box-sizing:border-box;padding: 5px 15px; border: none rgb(255, 129, 36); margin: 0px; word-wrap: break-word !important; box-sizing: border-box !important; background-image: url(http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkZkVDVTZ2traWJlZGpQcUhtSGd1Z3ZTaFVJenRudGp3cmpuQUVoeDRaM2hOQjBMeHloZ0RZS1lhYXdrenFuSEJNckRwd3FRUkE3Y3lnLzA/d3hfZm10PWpwZWc=); background-size:100% 100%;background-position: 0% 50%;background-repeat: no-repeat;">
                                        <section class="bk_fontcolor" style="color:#7F7F7F;padding:5px;box-sizing:border-box;">
                                                <p style="text-align: center;box-sizing: border-box; padding: 0px; margin: 0px;"><br></p>
                                                <p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%; word-wrap: normal; min-height: 1em; white-space: pre-wrap; line-height: 1.75em; text-align: center;padding: 0px; box-sizing: border-box !important;"><span class="bk_fontcolor" style="color:#C00000; font-size:18px;">彩色背景</span></p>
                                                <p style="margin-top: 0px; margin-bottom: 0px; max-width: 100%;min-height: 1em; line-height: 1.75em; color: inherit; padding: 0px; box-sizing: border-box !important;"><br></p>
                                                <p style="text-align: center; line-height: 2em;">平静的日子</p>
                                                <p style="text-align: center; line-height: 2em;">汨罗江沉默着</p>
                                                <p style="text-align: center; line-height: 2em;">偷偷隐藏千百年前的疼痛</p>
                                                <p style="text-align: center; line-height: 2em;">几乎静止般流动的水</p>
                                                <p style="text-align: center; line-height: 2em;">是谁遗落的</p>
                                                <p style="text-align: center; line-height: 2em;">麻绳或白绫</p>
                                                <p><br></p>
                                                <p style="text-align: center; line-height: 2em;">端午节</p>
                                                <p style="text-align: center; line-height: 2em;">汨罗江在雨水中沸腾</p>
                                                <p style="text-align: center; line-height: 2em;">为一个永恒的名字</p>
                                                <p style="text-align: center; line-height: 2em;">粽子在水中沉浮</p>
                                                <p style="text-align: center; line-height: 2em;">鱼儿慢摇九歌</p>
                                                <p style="text-align: center; line-height: 2em;">两岸离骚声声</p>
                                                <p style="line-height: 2em; text-align: center;">......</p>
                                                <p><br></p>
                                                <p><br></p>
                                        </section>
                                </section>
                        </div>
                </div>
        </section>
</div>