<div class="itembox">
        <section id="shifu_c_041" onmousedown="shifuMouseDownStyle('shifu_c_041')">
                <div style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="margin: 1.5em 1em 1em; padding: 0px; border: 0px rgb(30, 155, 232); max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); font-size: 16px; line-height: 25px; display: inline-block; word-wrap: break-word !important;">
                                <section style="max-width: 100%; word-wrap: break-word !important; box-sizing: border-box; line-height: 1.4; margin-left: -0.5em;">
                                        <section style="max-width: 100%; box-sizing: border-box; border-color: rgb(0, 0, 0); padding: 3px 8px; border-radius: 4px; color: rgb(255, 255, 255); font-size: 1em; display: inline-block; transform-origin: 0% 100% 0px; background-color: rgb(30, 155, 232); word-wrap: break-word !important;transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-moz-transform: rotate(-10deg);-o-transform: rotate(-10deg);box-sizing: border-box;"><span style="color:#FFFFFF">企业+</span></section>
                                </section>
                        </section>
                </div>
        </section>
</div>