<div class="itembox">
        <section id="shifu_c_042" onmousedown="shifuMouseDownStyle('shifu_c_042')">
                <div style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width:92px;margin-bottom:0px;">
                                <div style="text-align: center; color: inherit; line-height: 2em;"><span style="border-color: rgb(30, 155, 232); color: rgb(30, 155, 232); font-size: 16px;"><strong style="border-color: rgb(30, 155, 232); color: inherit;">企业+</strong></span></div>
                        </section>
                        <section style="margin-top: 0px; padding: 0px 5px;box-sizing: border-box; line-height: 10px; color: inherit; border: 1px solid rgb(30, 155, 232);">
                                <section style="padding: 0px; font-size: 16px; color: inherit; height: 8px; margin: -8px 0px 0px 140px; width: 50%; background-color: rgb(254, 254, 254);">
                                        <section style="width: 8px; height: 8px; border-radius: 100%; line-height: 1; box-sizing: border-box; font-size: 18px; text-decoration: inherit; border-color: rgb(30, 155, 232); display: inline-block; margin: 0px; color: inherit; background-color: rgb(30, 155, 232);"></section>
                                </section>
                                <section style="padding: 0px; line-height: 2em; color: rgb(62, 62, 62); font-size: 14px; margin: 15px;">
                                        <div class="bk_fontcolor" style="text-indent: 2em;">企业+是一套基于微信公众号，企业自主营销平台.</div>
                                </section>
                                <section style="padding: 0px; background-color: rgb(254, 254, 254); font-size: 16px; color: inherit; text-align: right; height: 10px; margin: 0px 0px -4px 25px; width: 65%;">
                                        <section style="margin: 0px auto 1px; border-radius: 100%; line-height: 1; box-sizing: border-box; text-decoration: inherit; border-color: rgb(30, 155, 232); display: inline-block; height: 8px; width: 8px; color: inherit; background-color: rgb(30, 155, 232);"></section>
                                </section>
                        </section>
                </div>
        </section>
</div>