<div class="itembox">
	<section id="shifu_cn_003" onmousedown="shifuMouseDownCard('shifu_cn_003')"   style="box-sizing:border-box;width: 100%;  padding-bottom:15px;padding-top:20px ;padding-left: 8px;padding-right: 8px; font-size: 1em; text-decoration: inherit; ">
		<section class="bk_fontcolor bk_bordercolor" style="box-sizing:border-box;line-height: 1.5em; font-size: 16px;border-left: 3px solid #9ACD32 ; padding: 5px;padding-left: 10px;">时光，在物转星移中渐行渐远，春花一梦，流水无痕，经历太多薄凉的日子，夏，依旧带着温热的气息与你相遇。</section>
		<p>
		    <br/>
		</p>
	</section>
</div>