<div class="itembox">
	<section id="shifu_cn_001" onmousedown="shifuMouseDownCard('shifu_cn_001')" style="box-sizing:border-box;width: 100%; background-color:#F5F5F5; padding-bottom:15px;padding-top:20px ;padding-left: 8px;padding-right: 8px; font-size: 1em; text-decoration: inherit; ">
		<div class="bk_fontcolor" style="box-sizing:border-box;float: left; width: 5%; font-size: 3em;font-family: arial; color: #9ACD32; line-height: 0.8em; display: inline-block; font-weight: bolder; vertical-align: top;">“</div>
		<div style="box-sizing:border-box;font-size: 1em; width: 80%; margin-top: 0.5em; margin-left: 0.2em; display: inline-block; vertical-align: middle; font-family: inherit;">
			<section class="bk_fontcolor" style="line-height: 1.5em; font-size: 16px;font-family: '微软雅黑';">时光，在物转星移中渐行渐远，春花一梦，流水无痕，经历太多薄凉的日子，夏，依旧带着温热的气息与你相遇。我们可以在一叶荷中感受夏的清凉。</section>
		</div>
		<div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
	</section>
	<p><br/></p>
</div>