@font-face{
	font-family:'FontAwesome';
	 src:url('../mobile/data/fonts/fontawesome-webfont.eot');
	 src:url('../mobile/data/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
	 url('../mobile/data/fonts/fontawesome-webfont.woff') format('woff'),
	 url('../mobile/data/fonts/fontawesome-webfont.ttf') format('truetype'),
	 url('../mobile/data/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	 font-weight:normal;
	 font-style:normal
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="fa-"]:before, [class*=" fa-"]:before{content: "\f0f7";}
.fa-envelope:before {
	content: "\f0e0";
}
.fa-warning:before, .fa-exclamation-triangle:before {
	content: "\f071";
}
.fa-tasks:before {
	content: "\f0ae";
}
.fa-groups:before, .fa-users:before, .fa-usergroup:before, .fa-groupuser:before {
	content: "\f0c0";
}
.fa-user-plus:before {content: "\f234";}
.fa-circle:before {
	content: "\f111";
}
.fa-search:before {
	content: "\f002";
}
.fa-dashboard:before, .fa-tachometer:before {
	content: "\f0e4";
}
.fa-th:before {
	content: "\f00a";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-bar-chart-o:before {
	content: "\f080";
}
.fa-angle-left:before {
	content: "\f104";
}
.fa-angle-up:before {
	content: "\f106";
}
.fa-angle-down:before {
	content: "\f107";
}
.fa-angle-double-right:before {
	content: "\f101";
}
.fa-laptop:before {
	content: "\f109";
}
.fa-edit:before{
	content: "\f044";
}
.fa-table:before {
	content: "\f1db";
}
.fa-calendar:before {
	content: "\f073";
}
.fa-folder:before {
	content: "\f07b";
}
.fa-arrow-circle-right:before {
	content: "\f0a9";
}
.fa-news:before {
	content: "\f0f7";
}
.fa-channel:before,.fa-options:before {
	content: "\f0e8";
}
.fa-site:before {
	content: "\f0e8";
}
.fa-product:before,.fa-poi:before {
	content: "\f07a";
}
.fa-download:before {
	content: "\f019";
}
.fa-photo:before {
	 content: "\f030";
}
.fa-image:before{
	content: "\f1c5";
}
.fa-add:before {
	content: "\f055";
}
.fa-delete:before {
	content: "\f04c";
}
.fa-category:before {
	content: "\f0c9";
}
.fa-viewresult:before, .fa-list:before {
	content: "\f0ca";
}
.fa-list-ul:before {
	content: "\f0ca";
}
.fa-censor:before {
	content: "\f044";
}
.fa-setting:before, .fa-creditsettings:before, .fa-shopsetting:before, .fa-meetinginfo:before {
	content: "\f085";
}
.fa-stat:before {
	content: "\f080";
}
.fa-arrow-right:before {
	content: "\f061";
}
.fa-arrow-up:before {
  	content: "\f062";
}
.fa-arrow-down:before {
  	content: "\f063";
}
.fa-rotate-right:before, .fa-repeat:before {
	content: "\f01e";
}
.fa-times:before {
	content: "\f00d";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-plus-circle:before {
  content: "\f055";
}
.pull-left {
	float: left;
}
.pull-right{
	float:right;
}
.fa-memberacts:before,
.fa-group:before,
.fa-members:before,
.fa-crowdfund:before {
   content: "\f007";
}
.fa-app:before{
  content: "\f179";
}
.fa-operations:before {
  content: "\f0d6";
}
.fa-operator:before {
  content: "\f0d6";
}
.fa-wechat:before,
.fa-service:before,
.fa-weixin:before {
  content: "\f1d7";
  color:green;
}
.fa-dingyue:before {
  content: "\f1d7";
  color:#48d681;
}
.fa-qiye:before {
  content: "\f1d7";
  color:#04aef7;
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-tools:before {
  content: "\f0ad";
}

.fa-meeting:before {
  content: "\f0e6";
}

.fa-activity:before {
  content: "\f0c0";
}
.fa-share:before {
  content: "\f08e";
}
.fa-guaguaka:before {
  content: "\f09d";
}
.fa-dazhuanpan:before {
  content: "\f118";
}
.fa-choujiangqiang:before {
  content: "\f009";
}
.fa-member:before {
  content: "\f007";
}
.fa-mpmsg:before,.fa-record:before,.fa-send:before {
  content: "\f0e6";
}
.fa-push:before,.fa-pushit:before,.fa-pushmessage:before {
  content: "\f028";
}
.fa-menu:before {
  content: "\f160";
}
.fa-menus:before,
.fa-mpmenu:before {
  content: "\f160";
}
.fa-followmenu:before,
.fa-follow:before {
  content: "\f161";
}
.fa-form:before {
  content: "\f046";
}
.fa-polls:before {
  content: "\f0ca";
}
.fa-codemaker:before {
  content: "\f1c9";
}
.fa-credits:before {
  content: "\f091";
}
.fa-qrcode:before,.fa-qrpay:before {
  content: "\f029";
}
.fa-comments:before,.fa-reply:before,.fa-authorreply:before {
  content: "\f086";
}
.fa-orders:before {
  content: "\f0d1";
}
.fa-recyclebin:before,.fa-clearcache:before  {
 content: "\f014";
}
.fa-restore:before {
  content: "\f087";
}
.fa-security:before {
  content: "\f084";
}
.fa-tablet:before {
  content: "\f096";
}
.fa-star:before {
  content: "\f005";
}
.fa-down:before {
  content: "\f103";
}
.fa-up:before {
  content: "\f102";
}
.fa-setmenu:before,.fa-navi:before {
  content: "\f0c9";
}
.fa-logs:before {
  content: "\f039";
}
.fa-del:before {
	content: "\f05c";
}
.fa-card:before {
  content: "\f09d";
}
.fa-getcard:before {
content: "\f09d";
}
.fa-probation:before {
  content: "\f091";
}
.fa-fensi:before {
  content: "\f087";
}
.fa-user:before {
  content: "\f007";
}
.fa-feiyin:before {
  content: "\f02f";
}
.fa-pk:before {
  content: "\f087";
}
.fa-mycustomers:before, .fa-myusers:before {
  content: "\f0f0";
}
.fa-baodian:before {
  content: "\f02d";
}
.fa-enrollment:before {
  content: "\f06b";
}
.fa-sign:before {
  content: "\f06b";
}
.fa-from:before {
content: "\f0f7";
}
.fa-texiao:before {
  content: "\f0f3";
}
.fa-priority:before {
  content: "\f01b";
}
.fa-marketing:before {
  content: "\f022";
}
.fa-customer:before {
  content: "\f0c0";
}
.fa-sales:before {
  content: "\f157";
}
.fa-pool:before {
  content: "\f0e9";
}
.fa-th-large:before {
  content: "\f00a";
  color:green;
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-rank:before {
  content: "\f185";
}
.fa-remove:before {
  content: "\f1b8";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-minus-square:before {
content: "\f146";
}
.fa-listing:before {
  content: "\f022";
}
.fa-tracks:before {
  content: "\f0f7";
}
.fa-sorts:before {
  content: "\f1b2";
}
.fa-account:before {
  content: "\f009";
}
.fa-import:before {
  content: "\f112";
}
.fa-check:before {
	content: "\f00c";
}
.fa-male:before {
  content: "\f183";
}
.fa-keywords:before {
  content: "\f084";
}
.fa-knowledge:before {
  content: "\f02d";
}
.fa-sms:before,
.fa-email:before,
.fa-feixin:before,
.fa-smsemail:before {
  content: "\f1d9";
}
.fa-music:before {
  content: "\f001";
}
.fa-plus:before {
  content: "\f067";
}
.fa-scene:before {
  content: "\f1b3";
}
.fa-smile-o:before {
	content: "\f118";
}
.fa-kfaccount:before {
  content: "\f182";
}
.fa-keyboard-o:before {
	content: "\f11c";
}
.fa-caret-up:before {
	content: "\f0d8";
}
.fa-caret-down:before {
	content: "\f0d7";
}
.fa-caret-left:before {
	content: "\f0d9";
}
.fa-caret-right:before {
	content: "\f0da";
}
.fa-rss:before {
	content: "\f09e";
}
.fa-credittohongbao:before,.fa-hongbao:before,.fa-eventhongbao:before {
  content: "\f157";
}
.fa-sense:before {
  content: "\f0f2";
}
.fa-upgrade:before {
  content: "\f135";
}
.fa-award:before{
  content: "\f155";
}
.fa-recommend:before {
  content: "\f087";
}
.fa-on:before {
  content: "\f13e";
}
.fa-off:before {
  content: "\f09c";
}
.fa-onoff:before {
  content: "\f09c";
}
.fa-sponsor:before {
  content: "\f157";
}
.fa-multiclass:before {
content: "\f196";
}
.fa-community:before {
  content: "\f0e6";
}
.fa-view:before,.fa-preview:before {
content: "\f06e";
}
.fa-cancel:before {
content: "\f00d";
}
.fa-agency:before {
content: "\f1ae";
}
.fa-shopstore:before {
content: "\f1ad";
}
.fa-setmanager:before {
content: "\f006";
}
.fa-shakearound:before {
  content: "\f0e4";
}
.fa-deliver:before {
  content: "\f1da";
}
.fa-changestate:before {
  content: "\f1ce";
}
.fa-salesagent:before {
  content: "\f1b3";
}
.fa-devices:before {
  content: "\f1a5";
}
.fa-signin:before {
  content: "\f11d";
}
.fa-lottery:before, .fa-setlottery:before {
  content: "\f087";
}
.fa-modifylevels:before {
  content: "\f19d";
}
.fa-rebate:before {
  content: "\f0d6";
}
.fa-distribution:before {
  content: "\f1b0";
}
.fa-finance:before {
  content: "\f0d6";
}
.fa-applyrebate:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f039";
}
.fa-agree:before {
  content: "\f00c";
}
.fa-disgree:before {
  content: "\f0c4";
}
.fa-tplmessage:before {
  content: "\f1c2";
}

.fa-website:before,.fa-performance:before {
  content: "\f0ee";
}
.fa-sharehongbao:before,.fa-qyhongbao:before {
  content: "\f0d6";
}
.fa-dict:before {
  content: "\f1ab";
}
.fa-authorize:before {
  content: "\f011";
}
.fa-profile:before {
  content: "\f055";
}
.fa-support:before {
  content: "\f1cd";
}
.fa-setpassword:before {
  content: "\f023";
}
.fa-cancelv:before {
  content: "\f1b6";
}
.fa-moneyflow:before {
  content: "\f157";
}
.fa-invitecode:before {
  content: "\f055";
}
.fa-prioritylist:before {
  content: "\f01b";
}
.fa-setusername:before {
  content: "\f01b";
}
.fa-pages:before {
  content: "\f1c4";
}
.fa-work:before {
  content: "\f0a1";
}
.fa-crowd:before {
  content: "\f1d1";
}
.fa-crowdlottery:before {
  content: "\f005";
}
.fa-settemplate:before {
  content: "\f0c5";
}
.fa-setpara:before {
  content: "\f12b";
}
.fa-censoryes:before {
  content: "\f00c";
}
.fa-censorno:before {
  content: "\f0c4";
}
.fa-questions:before {
  content: "\f128";
}
.fa-applyinvitecode:before {
  content: "\f1aa";
}
.fa-applyresult:before {
  content: "\f1c2";
}
.fa-spchangeuser:before{
  content: "\f1a4";
}
.fa-kfserviceitems:before{
  content: "\f1de";
}
.fa-userdicts:before{
  content: "\f1a6";
}
.fa-addtogroup,.fa-groupusers:before{
  content: "\f182";
}
.fa-grouprules:before{
  content: "\f085";
}
.fa-comment-o:before {
    content: "\f0e5";
}
.fa-star-o:before {
    content: "\f006";
}
.fa-qrrefund:before {
    content: "\f0d6";
}
.fa-wizard:before {
  content: "\f013";
}
.fa-userdict:before {
  content: "\f02c";
}
.fa-templates:before {
  content: "\f02d";
}
.fa-content:before {
  content: "\f1ea";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-sharetask:before {
  content: "\f1e0";
}
.fa-shareview:before {
  content: "\f1e0";
}
.fa-games:before {
  content: "\f11b";
}
.fa-exam:before {
  content: "\f0a0";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-help:before {
  content: "\f004";
}
.fa-video:before {
  content: "\f03d";
}
.fa-feedback:before {
  content: "\f040";
}
.fa-question:before {
  content: "\f128";
}
.fa-reply:before {
  content: "\f112";
}
.fa-female:before {
  content: "\f182";
}
.fa-minus:before {content: "\f068";}
.fa-renew:before {content: "\f1e6";}