<div class="itembox">
        <section id="shifu_b_003" onmousedown="shifuMouseDownStyle('shifu_b_003')">
                <div style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="margin: 1em auto 1em;text-align:center;">
                                <div style="text-align:center;"><img src="./template/stylenew/bottom/o_003_files/14805754617839.gif" style="display: inline;max-width:100%;"></div>
                        </section>
                </div>
        </section>
</div>