<div class="itembox">
        <section id="shifu_b_004" onmousedown="shifuMouseDownStyle('shifu_b_004')">
                <div style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="display: inline-block; vertical-align: top; width:9%;"><section style="text-align: center; position: static;"><img src="./template/stylenew/bottom/o_004_files/14805754613999.gif" style="vertical-align: middle;max-width:100%;"></section></section>
                        <section style="box-sizing: border-box;padding-left:1%; display: inline-block; vertical-align: top; width: 88%;">
                                <section class="bk_fontcolor" style="margin-top: 10px; position: static;">点击阅读原文查看更多</section>
                        </section>
                </div>
        </section>
</div>