<div class="itembox">
        <section id="shifu_b_005" onmousedown="shifuMouseDownStyle('shifu_b_005')">
                <section style="width:100%;font-size:12px;background-color:#fff;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="margin: 1em auto 1em;text-align:center;">
                                <div style="float:left;width:20%;margin-right:5%"><img src="./template/stylenew/bottom/o_005_files/14805754619651.gif" style="display: inline;max-width:100%;"></div>
                                <div class="bk_fontcolor" style="float:left;width:75%;margin-top:15px;text-align:left;">即刻点击，查看更多</div>
                                <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                        </section>
                </section>
        </section>
</div>