<div class="itembox">
	<div id="shifu_b_008" onmousedown="shifuMouseDownOther('shifu_b_008')">
		<section style="box-sizing:border-box;margin: 5px auto;width: 90%; text-align: left;"><img src="./template/stylenew/bottom/o_008_files/14588788445768.gif" style="width: 30px; margin: 0 auto; display: inline-block;vertical-align: middle;"/><section class="bk_fontcolor" style="display:inline-block; vertical-align: middle; font-size: 12px; margin-left:5px;">点击下方“阅读原文”查看更多内容。</section></section>
	</div>
</div>