<div class="itembox">
        <section id="shifu_o_002" onmousedown="shifuMouseDownStyle('shifu_o_002')">
                <div style="width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width:100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition:.2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <section style="margin: 10px 0px;">
                                        <div style="margin-bottom: 0.5em; display: inline-block;">
                                                <div style="height: 8em; white-space: nowrap; overflow: hidden;"><img style="max-width: 100%; max-height: 100%;" src="./template/stylenew/bottom/o_002_files/14797078276753.png"></div>
                                                <div class="bk_fontcolor" style="height: 2em; margin: -7.5em 0.5em 4.8em; font-size: 1em; line-height: 1.6em; padding: 0.5em;box-sizing:border-box;"><span style="display: inline-block; color: inherit; white-space: nowrap; overflow: hidden;"><section>点击下方“阅读原文”查看更多</section></span></div>
                                        </div>
                                </section>
                        </section>
                </div>
        </section>
</div>