<div class="itembox">
	<section style="box-sizing:border-box;margin: 5px 0 0; padding: 10px;" id="shifu_o_015" onmousedown="shifuMouseDownOther('shifu_o_015')"><p></p>
		<section class="bk_fontcolor" style="box-sizing:border-box;margin-top: -1px; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 40px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); background-color: rgb(191, 215, 48);"><span class="bk_fontcolor" style="font-size:14px;">↓点击下方<span>“阅读原文”</span>查看更多</span></section>
		<section style="margin: 0 auto 0 30px;width: 0; height: 0; border-left: 0 solid transparent; border-right: 18px solid transparent; border-top: 27px solid #bfd730;"></section><p></p>
	</section>
</div>