<div class="itembox">
	<section style="box-sizing:border-box;margin: 5px 0 0; padding: 10px;" id="shifu_o_017" onmousedown="shifuMouseDownOther('shifu_o_017')"><p></p>
		<section style="box-sizing:border-box;margin-top: -1px;border:3px solid #f77d00; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 37px; border-radius: 10px; text-align: center;"><span class="bk_fontcolor" style="font-size:14px;color: #000;">点击下方“阅读原文”查看更多</span></section>
		<section style="box-sizing:border-box;margin: 0 auto 0 30px;width: 0; height: 0; border-left: 4px solid transparent; border-right: 22px solid transparent; border-top: 24px solid #f77d00;"></section><p></p>
	</section>
</div>