<div class="itembox">
	<section style="box-sizing:border-box;margin: 5px 0 0; padding: 10px;" id="shifu_o_023" onmousedown="shifuMouseDownOther('shifu_o_023')"><p></p>
		<section class="bk_fontcolor" style="box-sizing:border-box;margin-top: -1px; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 40px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255);box-shadow: 0px 3px 5px #BEBEBE; background-color: #2ecc71;"><span style="font-size:14px;">点击“阅读原文”查看更多</span></section><p></p>
	</section>
</div>