<aside class="right-side cloud" style="">
	<section class="content" style="">
		<div class="row">
			<div class="col-xs-12 btn-list">
				<button class="btn btn-warning qrcode">二维码</button>
			</div>

			<div class="col-xs-12">
				<div class="box">
					<div class="box-header" style="float:right;"></div>
					<div class="box-body table-responsive">
						<form method="post" id="view" enctype="multipart/form-data" action="http://beijingyan88177777.foodplus.boka.cn/admin/admin.php?action=moderate&amp;module=news&amp;id=124">
							<link href="./css/news.css" type="text/css" rel="stylesheet">
							<div class="mpmenu">
								<div class="border">
									<div class="outer">
										<div class="newscontainer news">
											<div class="news-title fontcolor">第三期《我是宴专家》之北京宴华贸店刘龙寿宴</div>
											<div class="news-info">
												<span id="news_date" class="font color-black">2016-09-04</span>
												<span id="news_author" class="font color-gray"></span>
												<a href="http://beijingyan88177777.foodplus.boka.cn/mobile/subscribe.php" class="font external">北京宴</a>
											</div>
											<div class="news-content">
												<div id="video_div" style="width:100%;text-align: center;">
													<iframe frameborder="0" width="640" height="498" src="./js/player.html" allowfullscreen=""></iframe>
												</div>
												<div class="mobile-content">
													<div class="news-show fontcolor"><p>感谢您，<br></p><p>在家中的顶天立地，</p><p>感谢您，</p><p>在我父爱中的慈祥接力；</p><p>虽然我们没有过多的言语，</p><p>但我知道，</p><p>家门口的植物四季如春的原因，</p><p>我也知道，</p><p>结婚十年来，</p><p>家里从来不用亲自交电费的原因，</p><p>我更知道…</p><p>此刻的我不知该如何开启这份感动的话语，</p><p>今天，是您七十岁的生日，</p><p>而我也终于鼓足了勇气，</p><p>让爱和感动藏在这碗面条里，</p><p>长长久久，生生世世……</p><p><br></p></div>
												</div>
											</div>
											<div class="control">
												<div class="button comment_div">
													<a href="http://beijingyan88177777.foodplus.boka.cn/admin/news.php?action=comment&amp;module=news&amp;id=124&amp;ntitle=%E7%AC%AC%E4%B8%89%E6%9C%9F%E3%80%8A%E6%88%91%E6%98%AF%E5%AE%B4%E4%B8%93%E5%AE%B6%E3%80%8B%E4%B9%8B%E5%8C%97%E4%BA%AC%E5%AE%B4%E5%8D%8E%E8%B4%B8%E5%BA%97%E5%88%98%E9%BE%99%E5%AF%BF%E5%AE%B4" style="display:block;">
														<span class="btn-comment fa fa-comment-o"></span>评论
													</a>
												</div>
												<div class="button favorite">
													<span class="fa fa-star-o"></span>
												</div>
												<a class="button support servicelink" href="http://beijingyan88177777.foodplus.boka.cn/admin/index.php?action=view&amp;module=news&amp;id=124#">
													<span class="fa fa-user "></span>客服
												</a>
											</div>
											<div class="news_bottom color-gray">
												<div class="read_div">
													<span class="fontcolor">阅读</span>
													<span id="read_num" class="fontcolor">285</span>
												</div>
												<div class="dig_div">
													<span class="digicon"></span>
													<span id="dig_num" class="fontcolor">6</span>
												</div>
											</div>
										</div>
										<div class="b_menu t-table">
											<div class="t-cell b_list">
												<div class="b_item_list">
													<div class="b_item menuitem" mpid="13">
														<span class="mptitle">北</span><i class="fa fa-caret-right"></i>
														<div class="sub_item">
															<ul>
																<li class="menuitem" mpid="16"><span class="mptitle">大杨说味</span></li>
																<li class="menuitem" mpid="25"><span class="mptitle">大杨说宴</span></li>
																<li class="menuitem" mpid="17"><span class="mptitle">新闻动态</span></li>
																<li class="menuitem" mpid="18"><span class="mptitle">附近门店</span></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="b_item_list">
													<div class="b_item menuitem" mpid="14">
														<span class="mptitle">京</span><i class="fa fa-caret-right"></i>
														<div class="sub_item">
															<ul>
																<li class="menuitem" mpid="28"><span class="mptitle">37期研修班照片</span></li>
																<li class="menuitem" mpid="19"><span class="mptitle">特色菜肴</span></li>
																<li class="menuitem" mpid="23"><span class="mptitle">用户中心</span></li>
																<li class="menuitem" mpid="26"><span class="mptitle">照片打印</span></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="b_item_list">
													<div class="b_item menuitem" mpid="15">
														<span class="mptitle">宴</span><i class="fa fa-caret-right"></i>
														<div class="sub_item">
															<ul>
																<li class="menuitem" mpid="27"><span class="mptitle">宴会预订</span></li>
																<li class="menuitem" mpid="21"><span class="mptitle">品牌故事</span></li>
																<li class="menuitem" mpid="22"><span class="mptitle">中国服务</span></li>
																<li class="menuitem" mpid="24"><span class="mptitle">外卖小店</span></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="col-xs-12"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-body">
						查看本信息的关注用户(最多显示500名)
					</div>
					<div class="box-body table-responsive viewmembers">
						<a href="javascript:;" onclick="menuclick(&#39;admin.php?action=view&amp;module=members&amp;uid=244&#39;)"><img src="./images/244.jpg" class="img-circle" style="width:30px;">A mis 杨</a>

					</div>
				</div>
			</div>
		</div>


		<div class="row">
			
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-body table-responsive">
							<table class="table table-bordered table-hover" style="min-width:768px;">
						   		<tbody>
						   			<tr>
										<td colspan="4" style="text-align:center;white-space:normal;">
											<div class="box">
												<div class="box-body table-responsive">
													<table class="table table-bordered table-hover">
														<tbody>
															<tr>
																<td>
																	<div id="mainline1" class="chartdiv" _echarts_instance_="ec_1509698847033" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;">
																		<div style="position: relative; overflow: hidden; width: 999px; height: 280px; padding: 0px; margin: 0px; border-width: 0px;">
																			<canvas width="999" height="280" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 999px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
																		</div>
																	<div>
																	<!-- </div></div> -->
																</td>
																
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										 </td>
									</tr>
								</tbody>
							</table>
						</div>

				</div>
			</div>
			
		</div>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>