<aside class="right-side cloud">
	<section class="content">
		<div class="row ">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-header" style="width:100%;"></div>
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover listcon" style="border:none;">
							<tbody>
								<tr>
									<td style="border:none;">
										<div class="disH" style="width:100%;height:100%;position:relative;">
											<div id="listwrapper">
												<div id="listscroller">
													<div id="showResult">
														<form id="subForm">
															<table id="list_table" class="table table-bordered table-hover" style="min-width:768px;">
																<thead>
																	<tr>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="username">用户名<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="type">类型<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="nid">关联内容<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="message">消息<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="dateline">时间<i class="icon"></i></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td style="white-space:nowrap;min-width:100px;overflow:hidden;text-align:left;">
																			<img src="./images/55221.jpg" style="width:30px;height:30px;">&nbsp;<a href="javascript:;">高玉才</a>
																		</td>
																		<td style="white-space:nowrap;text-align:left;">新闻</td>
																		<td style="text-align:left;">124</td>
																		<td style="text-align:left;">创意无限，用心良苦。</td>
																		<td style="text-align:center;white-space:nowrap;">16-09-11 08:50</td>
																	</tr>
																
																</tbody>
																<tfoot>
																	<tr>
																		<td style="white-space:nowrap;text-align:left;" colspan="5">共1项</td>
																	</tr>
																</tfoot>
															</table>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div style="width:100%;white-space:nowrap;min-width:768px;">
											<div class="dataTables_paginate paging_bootstrap">
												<ul class="pagination">
													
												</ul>
											</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<audio id="mediaaudio"></audio>
		<link rel="stylesheet" href="./css/owl.css">

	</section>
</aside>
		