<aside class="right-side cloud" style="">
	<section class="content" style="">
		<div class="row ">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-header" style="width:100%;"></div>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover listcon" style="border:none;">
							<tbody>
								<tr>
									<td style="border:none;">
										<div class="disH" style="width:100%;height:100%;position:relative;">
											<div id="listwrapper">
												<div id="listscroller">
													<div id="showResult">
														<form id="subForm">
															<table id="list_table" class="table table-bordered table-hover" style="min-width:1440px;">
																<thead>
																	<tr>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="title">名称<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;">操作</th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="classid">分类<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="moderate">审批状态<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="views">阅读次数<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="shares">分享次数<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="subscribes">分享带来关注<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="visitor">分享带来访问<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="comments">评论<i class="icon"></i></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td style="white-space:nowrap;text-align:center;" colspan="9">没有符合条件的信息</td>
																	</tr>
																</tbody>
																<tfoot>
																	<tr>
																		<td style="white-space:nowrap;text-align:left;" colspan="9">共0项</td>
																	</tr>
																</tfoot>
															</table>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div style="width:100%;white-space:nowrap;min-width:768px;">
											<div class="dataTables_paginate paging_bootstrap">
												<ul class="pagination">
													
												</ul>
											</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<audio id="mediaaudio"></audio>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>