<aside class="right-side cloud" style="">
	<section class="content" style="">
		<div class="row ">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-header" style="width:100%;">
						<a href="#/Product_list_add/-1" style="margin:5px; " class="btn btn-warning">增加</a>
					</div>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover listcon" style="border:none;">
							<tbody>
								<tr>
									<td style="border:none;">
										<div class="disH" style="width:100%;height:100%;position:relative;">
											<div id="listwrapper">
												<div id="listscroller">
													<div id="showResult">
														<form id="subForm">
															<table id="list_table" class="table table-bordered table-hover" style="">
																<thead>
																	<tr>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="title">名称<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;">操作</th>
																		<th style="text-align:center;white-space:nowrap;">供应商</th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="classid">分类<i class="icon"></i></th>
																		<!-- <th style="text-align:center;white-space:nowrap;" class="sort up" row="moderate">审批状态<i class="icon"></i></th> -->
																		<!-- <th style="text-align:center;white-space:nowrap;" class="sort up" row="views">阅读次数<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="shares">分享次数<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="subscribes">分享带来关注<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="visitor">分享带来访问<i class="icon"></i></th> -->
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="comments">评论<i class="icon"></i></th>
																	</tr>
																</thead>
																	<tbody>
																		<tr ng-if="product_list.results.length>0" ng-repeat="p in product_list.results track by $index">
																			<td>{{$index}}.&nbsp;&nbsp;<a href="javascript:;">{{p.name}}</a></td>
																			<td style="text-align:center;white-space:nowrap;">
																			<span><i class="fa fa-edit"></i><a href="#/Product_list_add/{{p.id}}" class="edit">&nbsp;编辑</a>&nbsp;</span>
																			<span ng-click="edit(0,$index,p.id)"><i class="fa fa-delete"></i><a href="javascript:;" class="delete">&nbsp;删除</a>&nbsp;</span>
																			<span ng-click="edit(1,$index,p.id)"><i class="fa fa-priority"></i><a href="javascript:;" class="priority">&nbsp;置顶</a>&nbsp;</span>
																			<!-- <span><i class="fa fa-authorize"></i><a href="javascript:;" class="authorize">&nbsp;授权</a>&nbsp;</span> -->
																			<!-- <span ng-click="showSpec()"><i class="fa fa-options"></i><a href="javascript:;" class="options">&nbsp;规格选项</a>&nbsp;</span> -->
	
																			</td>
																			<td style="text-align:left;">{{p.supplier}}</td>
																			<td style="white-space:nowrap;text-align:center;"><a href="javascript:;" ng-click="easy_search(p.type)">{{sort[p.type]}}</a></td>
																			<!-- <td style="white-space:nowrap;text-align:center;"><a href="javascript:;">已发布</a></td> -->
																			<!-- <td style="text-align:center;">{{p.readCount}}</td>
																			<td style="white-space:nowrap;text-align:center;"><i class="fa fa-shares"></i><a href="javascript:;" >&nbsp;{{p.shareCount}}</a></td>
																			<td style="white-space:nowrap;text-align:center;"><i class="fa fa-subscribes"></i><a href="javascript:;">&nbsp;{{p.shareBringAtten}}</a></td>
																			<td style="white-space:nowrap;text-align:center;"><i class="fa fa-visitor"></i><a href="javascript:;" >&nbsp;{{p.shareBringLink}}</a></td> -->
																			<td style="white-space:nowrap;text-align:center;"><a href="javascript:;">&nbsp;{{p.replayCount}}</a></td>
																		</tr>

																		<tr ng-if="product_list.results.length == 0">
																			<td colspan="5">没有查到数据！</td>
																		</tr>
																	
																	</tbody>
																<tfoot>
																<tr>
																	<td style="white-space:nowrap;text-align:left;" colspan="10">共{{product_list.count}}项</td>
																</tr>
																</tfoot>
															</table>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div style="width:100%;white-space:nowrap;">
											<div class="dataTables_paginate paging_bootstrap">
												<ul class="pagination">
													
												</ul>
											</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<audio id="mediaaudio"></audio>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>