<div class="itembox">
        <section id="shifu_new_024" onmousedown="shifuMouseDownStyle('shifu_new_024')">
                <div style="width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width: 100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <section style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                                        <div style="display: inline-block; vertical-align: top; width: 100%;">
                                                <div style="width: 2.5em; height: 2.5em;box-sizing: border-box; margin-bottom: -2.5em; border-left: 2px dotted rgb(193, 193, 193); border-top: 2px dotted rgb(193, 193, 193);"></div>
                                                <div style="padding: 8px;box-sizing: border-box;">
                                                        <div class="stylebg" bg="/mobile/data/editor/month_201611/14798828810144.gif" style="width: 100%; background-color: rgb(241, 233, 222); background-position: 13.3333% -22.2222%; background-repeat: repeat; background-size: 89.7727%; background-attachment: scroll;">
                                                                <div style="text-align:left"><p><br></p></div>
                                                                <section style="margin-top: 10px; margin-bottom: 10px; text-align: center; transform: translate3d(0px, 0px, 0px);">
                                                                        <div style="display: inline-block; vertical-align: top;">
                                                                                <div style="width: 0px; margin-bottom: -10px; transform: rotate(0deg); border-top: 5px solid rgba(255, 184, 196, 0.658824); border-left: 5px solid rgba(255, 184, 196, 0.658824); border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important;box-sizing: border-box;"></div>
                                                                                <div style="background-color: rgba(153, 255, 255, 0.4); padding: 3px 10px; box-sizing: border-box;text-align: center; font-size: 120%;"><p>企业+</p></div>
                                                                                <div style="width: 0px; margin-top: -10px; margin-left: auto; transform: rotate(0deg); border-right: 5px solid rgba(255, 184, 196, 0.658824); border-bottom: 5px solid rgba(255, 184, 196, 0.658824); border-top: 5px solid transparent !important; border-left: 5px solid transparent !important;box-sizing: border-box;"></div>
                                                                        </div>
                                                                </section>
                                                                <section style="margin: 0px 0% 10px; font-size: 100%;">
                                                                        <div style="display: inline-block; width: 90%; border: 1px solid transparent; padding: 0px;box-sizing: border-box; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px;">
                                                                        <div style="display: inline-block; vertical-align: top; width: 6%;">
                                                                                <div style="text-align: left; margin: -3px 0% 0px; font-size: 100%; transform: translate3d(0px, 0px, 0px);"><img style="max-width: 100%; vertical-align: middle; width: 100%;" src="/mobile/data/editor/month_201611/14798810411121.png"></div>
                                                                        </div><div style="display: inline-block; vertical-align: top; width: 88%;">
                                                                                <section style="margin: 5px 0% 0px;">
                                                                                        <div style="text-align: justify; color: rgb(105, 105, 105); font-size: 12.5%; line-height: 1.8; letter-spacing: 0px; padding: 0px 10px;box-sizing: border-box;"><p><br></p></div>
                                                                                </section>
                                                                        </div><div style="display: inline-block; vertical-align: top; width: 6%;">
                                                                                <section style="text-align: left; margin: -3px 0% 0px; font-size: 100%; transform: translate3d(0px, 0px, 0px);"><img style="max-width: 100%; vertical-align: middle; width: 100%;" src="/mobile/data/editor/month_201611/14798810411121.png"></section>
                                                                        </div><section style="margin: -20px 0% 0px;">
                                                                                <div style="display: inline-block; width: 100%; vertical-align: top; padding: 10px;box-sizing: border-box;"><section style="margin: 5px 0% 0px;">
                                                                                                <div style="text-align: justify; color: rgb(105, 105, 105); font-size: 93.75%; line-height: 1.8; letter-spacing: 0px; padding: 0px 10px;box-sizing: border-box;"><p>企业+是一套基于微信公众号，企业自主营销平台</p></div>
                                                                                        </section></div></section></div>
                                                                </section>
                                                                <div style="text-align:left"><p><br></p></div>
                                                        </div>
                                                </div>
                                                <div style="box-sizing:border-box;width: 2.5em; height: 2.5em; float: right; margin-top: -2.5em; border-right: 2px dotted rgb(193, 193, 193); border-bottom: 2px dotted rgb(193, 193, 193);"></div>
                                                <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                                        </div>
                                </section>
                        </section>
                </div>
        </section>
</div>
<script>
        $("#shifu_new_024 .stylebg").each(function(){
                var cur = $(this),
                        bgurl = httpurl + cur.attr("bg");
                cur.css({"background-image":"url("+bgurl+")"});
                cur.removeAttr("class");
                cur.removeAttr("bg");
        });
</script>