<div class="itembox">
        <section id="shifu_new_019" onmousedown="shifuMouseDownStyle('shifu_new_019')">
                <div style="width:100%;font-size:12px;position:relative;text-align: start;hyphens: auto;line-height:1.6;cursor: pointer;box-sizing: border-box;padding:5px 8px;color: #3e3e3e;">
                        <section style="box-sizing:border-box;width:100%;background-color:#fff;box-sizing: border-box;padding-left:10px;padding-right: 10px;overflow: hidden;font-size: 12px;-webkit-transition:.2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;">
                                <section style="overflow: visible;margin: 0.5em 0px; text-align: center; box-sizing: border-box;padding-left: 0.8em; padding-right: 0.8em;">
                                        <div style="width: 100%; text-align: left;"><img style="box-sizing: border-box; width:3.6em; margin-left: -0.8em; height: auto !important; text-align: start;" src="/mobile/data/editor/month_201611/14797078325252.png"></div>
                                        <div style="-webkit-box-shadow:0 0 10px rgba(159, 160, 160, 0.5); -moz-box-shadow:0 0 10px rgba(159, 160, 160, 0.5); box-shadow:0 0 10px rgba(159, 160, 160, 0.5); width: 100%;box-sizing: border-box; padding: 8px; background-color: #ffffff; float: left; margin: -3.2em 0 -2.8em">
                                                <div style="width: 100%; float: left;box-sizing: border-box; padding: 10px;">
                                                        <p style="text-align: right;text-align: center;">企业+</p><p style="text-align: center;">企业+是一套基于微信公众号，企业自主营销平台</p>
                                                </div>
                                                <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                                        </div>
                                        <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                                        <div style="width: 100%; text-align: right;"><img style="box-sizing: border-box; width: 3.6em; margin-right: -0.8em; height: auto !important; text-align: start;" src="/mobile/data/editor/month_201611/14797078326600.png"></div>
                                </section>
                        </section>
                </div>
        </section>
</div>