<div class="itembox">
        <section id="shifu_new_026" onmousedown="shifuMouseDownStyle('shifu_new_026')">
                <div style="width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width: 100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <div class="stylebg" bg="/mobile/data/editor/month_201611/14798828814563.gif" style="box-sizing:border-box;display: inline-block; width: 100%; vertical-align: top;background-position: 0% 0%; background-repeat: repeat; background-size: 103.933%; background-attachment: scroll; background-color: rgb(255, 255, 255);">
                                        <div style="text-align:left"><p><br></p></div>
                                        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;"><img style="max-width: 100%;vertical-align:middle" src="/mobile/data/editor/month_201611/14798810836287.png"></section>
                                        <section style="margin: 10px 0% 20px; text-align: center;">
                                                <div style="padding: 3px; box-sizing: border-box;display: inline-block; border-bottom: 5px solid rgb(255, 255, 255); color: rgb(255, 255, 255);"><p>这个愚人节，拿去玩</p></div>
                                        </section>
                                        <div style="text-align: left; color: rgb(255, 255, 255); font-size: 87.5%; padding: 0px 20px;box-sizing: border-box;"><p>企业+是一套基于微信公众号，企业自主营销平台</p></div>
                                        <div style="text-align:left"><p><br></p></div>
                                </div>
                        </section>
                </div>
        </section>
</div>
<script>
        $("#shifu_new_026 .stylebg").each(function(){
                var cur = $(this),
                        bgurl = httpurl + cur.attr("bg");
                cur.css({"background-image":"url("+bgurl+")"});
                cur.removeAttr("class");
                cur.removeAttr("bg");
        });
</script>