<div class="itembox">
        <section id="shifu_p_016" onmousedown="shifuMouseDownStyle('shifu_p_016')">
                <div style="box-sizing: border-box;width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align: start;hyphens:auto;line-height:1.6;font-style: normal;font-size: 16px;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #3e3e3e;">
                        <section style="box-sizing: border-box;width:100%;background-color: #fff;padding-left: 10px;padding-right: 10px;overflow: hidden;font-size: 12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;">
                                <section style="box-sizing: border-box;margin: 40px 0% 10px; font-size: 100%; transform: translate3d(0px, 0px, 0px); text-align: center;">
                                        <div style="box-sizing: border-box;display: inline-block; width: 98%; border: 1px solid transparent; padding: 0px; background-color: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 0px 0px 10px;">
                                                <div style="text-align:left"><p><br></p></div>
                                                <div><div style="box-sizing: border-box;display: inline-block; vertical-align: top; width: 18%;">
                                                                <section style="box-sizing: border-box;margin: -3px 0% 0px; text-align: left; font-size: 190%; transform: translate3d(-3px, 0px, 0px);"><!--
                                                                        -->
                                                                        <div style="box-sizing: border-box;width: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg)">
                                                                                <div style="width: 5px; height: 5px; float: left; border-radius: 100%; background-color: transparent;"></div>
                                                                                <div style="width: 5px; height: 5px; float: right; border-radius: 100%; background-color: transparent;"></div>
                                                                                <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                                                                        </div><!--
                                                                        --><div style="box-sizing: border-box;display: inline-block; border: 1px solid transparent; padding: 2px 6px; margin: -3px 2px; background-color: rgba(153, 255, 255, 0.4); text-align: center; font-size: 115%; color: transparent;"></div>
                                                                        <div style="box-sizing: border-box;width: 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg)">
                                                                                <div style="width: 5px; height: 5px; float: left; border-radius: 100%; background-color: transparent;"></div>
                                                                                <div style="width: 5px; height: 5px; float: right; border-radius: 100%; background-color: transparent;"></div>
                                                                                <div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div>
                                                                        </div>
                                                                </section>
                                                        </div><div style="box-sizing: border-box;display: inline-block; vertical-align: top; width: 55%;"><!--
                                                                --><section style="box-sizing: border-box;margin: 30px 0% 0px; transform: translate3d(-40px, 0px, 0px);">
                                                                        <div style="box-sizing: border-box;text-align: justify; color: rgb(23, 23, 20); font-size: 131.25%; line-height: 1.3; letter-spacing: 0px; padding: 0px 10px;"><p><strong>企业+</strong></p></div>
                                                                </section>
                                                        </div><div style="box-sizing: border-box;display: inline-block; vertical-align: top; width: 27%;">
                                                                <section style="box-sizing: border-box;text-align: right; font-size: 195%; transform: translate3d(-10px, 0px, 0px); margin: -50px 0% -10px;"><!--
                                                                        --><div style="box-sizing: border-box;display: inline-block; vertical-align: top; border: 2px dashed rgb(23, 23, 20); border-radius: 100%;">
                                                                                <div style="box-sizing: border-box;width: 3em; height: 3em; border-radius: 100%;">
                                                                                        <div style="width: 100%; height: 100%; overflow: hidden;"><img style="width: 100%; height: 100%;border-radius:100%;" src="/mobile/data/images/logo.png"></div>
                                                                                </div>
                                                                        </div>
                                                                </section>
                                                        </div>
                                                </div><div style="box-sizing: border-box;display:inline-block; width: 100%; vertical-align: top; padding: 10px;">
                                                        <section style="margin: 5px 0% 0px;">
                                                                <div style="box-sizing: border-box;text-align: justify; color: rgb(105, 105, 105); font-size: 93.75%; line-height: 1.8; letter-spacing: 0px; padding: 0px 10px;"><p>企业+是一套基于微信公众号，企业自主营销平台</p></div>
                                                        </section>
                                                </div>
                                        </div>
                                </section>
                        </section>
                </div>
        </section>
</div>