<div class="itembox">
        <section id="shifu_p_026" onmousedown="shifuMouseDownStyle('shifu_p_026')">
                <div style="width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width: 100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <section style="margin: 0.5em 0px;">
                                        <div class="bk_backgroundcolor" style="background-color: rgb(160, 160, 160); height: 1px;"></div>
                                </section>
                                <section style="margin: 15px 0%; transform: translate3d(0px, 0px, 0px);">
                                        <div style="display: inline-block; vertical-align: top; width: 15%; padding: 0px 1px;box-sizing:border-box;">
                                                <section style="margin: 0px 0% 10px; text-align: center; transform: translate3d(0px, 0px, 0px); font-size: 110%;">
                                                        <div class="bk_bordercolor" style="display: inline-block; vertical-align: top; border-left: 1px solid rgb(160, 160, 160); border-right: 1px solid rgb(160, 160, 160); padding: 0px 5px;box-sizing:border-box;color: rgb(70, 187, 231);"><p style="display: inline-block; width: 1em; margin-left: 0.2em; margin-right: 0.2em; float: right;">帮<span style="line-height: 1.6;">助</span></p><div style="clear: both;width:0;height:0;overflow:hidden;visibility:hidden;"><br></div></div>
                                                </section>
                                        </div><!--
					--><div style="display: inline-block; vertical-align: top; width: 85%;box-sizing:border-box;">
                                                <section style="transform: translate3d(0px, 0px, 0px);">
                                                        <div style="text-align: justify; color: rgb(102, 102, 102); font-size: 93.75%; line-height: 1.8;"><p>企业+是一套基于微信公众号，企业自主营销平台</p></div>
                                                </section>
                                        </div>
                                </section>
                                <section style="margin: 0.5em 0px;">
                                        <div class="bk_backgroundcolor" style="background-color: rgb(160, 160, 160); height: 1px;"></div>
                                </section>
                        </section>
                </div>
        </section>
</div>