<div class="itembox">
        <section id="shifu_p_025" onmousedown="shifuMouseDownStyle('shifu_p_025')">
                <div class="bk_fontcolor" style="box-sizing: border-box;width:100%;font-size:12px;position:relative;cursor:pointer;box-sizing:border-box;padding:5px 8px;color:#3e3e3e;text-align:start;line-height:1.6;">
                        <section style="width:100%;background-color:#fff;box-sizing:border-box;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;">
                                <section style="overflow:visible; text-align: center; margin-top: 0.5em; margin-bottom: 0.5em; box-sizing:border-box;padding-left: 0.5em; padding-right: 0.5em;"><img style="box-sizing: border-box; width: 60%; margin: 0 20% -1em 20%; height: auto !important; text-align: start;" src="/mobile/data/editor/month_201611/14797078289172.png">
                                        <div style="-webkit-transform: rotate(0deg); transform: rotate(0deg);"><img style="box-sizing: border-box; width: 100%; height: auto !important; text-align: start;" src="/mobile/data/editor/month_201611/14797078286546.png"></div><div style="box-sizing: border-box;width: 94%; margin: -0.6em auto -0.5em; text-align: start; border: 0.8em solid white; height: auto !important; box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;">
                                                <div style="text-align:left"><p>企业+是一套基于微信公众号，企业自主营销平台</p></div>
                                        </div><img style="box-sizing: border-box; width: 100%; height: auto !important; text-align: start;" src="/mobile/data/editor/month_201611/14797078288145.png"></section>
                        </section>
                </div>
        </section>
</div>