<div class="itembox">
	<section id="shifu_p_020" onmousedown="shifuMouseDownPic('shifu_p_020')" style="box-sizing:border-box;background:#ffffff;border-style: none; width: 286px; clear: both; overflow: hidden;margin: 0 auto;">
		<div class="bk_bordercolor" style="box-sizing:border-box; padding: 15px; border: 1px solid #cccccc; display: block;">
			<div style="box-sizing:border-box; display: block; overflow: hidden;"><img src="/mobile/data/editor/145881848637.png" style=" width: 43px; float: left;"><img src="/data/images/logo.png" style=" margin-top: 6px; width: 63px; float:right;"><div style="clear:both;width:0;height:0;overflow:hidden;visibility:hidden;"></div></div><img src="/mobile/data/editor/145881848838.png" style="width: 163px; margin: 5px auto; display: block;">
			<div style="box-sizing:border-box;display: block; overflow:hidden;margin-top: -54px;">
				<section style="box-sizing:border-box; margin-right: 20px; width: 144px; vertical-align: bottom; display: inline-block;">
					<section style="box-sizing:border-box; font-size: 12px; text-align: left; line-height: 1.2; color: #ffae16;">
						<p>爱哭、爱闹、爱吃香蕉<br/>呆蠢、贱萌、还是技术宅<br/>虽然我的祖先是单细胞生物<br/>但我套上背带裤，扮啥像啥</p>
					</section>
					<section style='box-sizing:border-box; font-size: 30px; color: #ffffff; font-weight: 700; padding: 5px; text-align: center; margin-top: 5px; margin-bottom: 5px; background: #f8b551;'>LOVE U</section>
					<section style="box-sizing:border-box; color: #f8b551; text-align: left; font-size: 20px;">我爱小黄人！</section>
				</section><img src="/data/images/boka.png" style=" display: inline-block; vertical-align: bottom; width: 84px;">
			</div>
		</div>
	</section><p><br/></p>
</div>