<div class="itembox">
        <section id="shifu_p_028" onmousedown="shifuMouseDownStyle('shifu_p_028')">
                <div style="width:100%;font-size:12px;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width: 100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <section style="margin: 2em 0px 0.8em;overflow: hidden;">
                                        <div style="display: inline-block; vertical-align: top; width: 40%;">
                                                <div style="text-align: center; color: rgb(123, 129, 116);"><br><br><section>企业+是一套基于微信公众号，企业自主营销平台<br>企<br>业<br>+</section></div>
                                        </div><!--
					--><div style="display: inline-block; width: 58%">
                                                <div style="box-sizing:border-box;display: inline-block; vertical-align: top; width: 100%; margin-bottom: -1em; padding-top:4.5em;">
                                                        <div style="transform: rotateZ(-10deg);">
                                                                <section style="width: 100%; text-align: center; padding-right: 2em;"><img style="max-width: 100%; border-color: white; border-width: 8px; border-style: solid; box-shadow: rgb(102, 102, 102) 2px 2px 5px;" src="/mobile/data/editor/month_201611/14797078286771.jpg"></section>
                                                        </div>
                                                </div>
                                                <div style="box-sizing:border-box;vertical-align: top;padding:1em;box-sizing:border-box;">
                                                        <section style="text-align: center;"><img style="max-width: 100%; border-color: white; border-width: 8px; border-style: solid; box-shadow: rgb(102, 102, 102) 2px 2px 5px;" src="/mobile/data/editor/month_201611/14797078282878.jpg"></section>
                                                </div>
                                        </div>
                                </section>
                        </section>
                </div>
        </section>
</div>