<div class="itembox">
        <section id="shifu_p_022" onmousedown="shifuMouseDownStyle('shifu_p_022')">
                <div class="bk_fontcolor" style="width:100%;position:relative;cursor:pointer;padding:5px 8px;text-align:start;line-height:1.6;font-style:normal;font-size:16px;word-wrap:break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#3e3e3e;box-sizing: border-box;">
                        <section style="width:100%;background-color:#fff;padding-left:10px;padding-right:10px;overflow:hidden;font-size:12px;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;transition: .2s;box-sizing: border-box;">
                                <section style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="bk_bordercolor" style="height: 1.4em; border-left: 1px solid rgb(158, 158, 158); margin-bottom: -0.9em; margin-left: 0.5em;"></div>
                                        <div class="bk_bordercolor" style="width: 2.5em; border-top: 1px solid rgb(158, 158, 158);"></div>
                                        <div style="padding: 0 0.5em;box-sizing: border-box;">
                                                <div style="padding: 10px; background-color: transparent;box-sizing: border-box;">
                                                        <div style="text-align: center;">
                                                                <section>企业+<br>
                                                                        企业+是一套基于微信公众号，企业自主营销平台
                                                                </section>
                                                        </div>
                                                </div>
                                        </div>
                                        <div style="width: 2.5em; margin-left: auto;">
                                                <div class="bk_bordercolor" style="width: 2.5em; border-top: 1px solid rgb(158, 158, 158);"></div>
                                                <div class="bk_bordercolor" style="height: 1.4em; border-left: 1px solid rgb(158, 158, 158); margin-top: -0.9em; margin-left: 2em;"></div>
                                        </div>
                                </section>
                        </section>
                </div>
        </section>
</div>
