<div class="itembox">
        <section id="shifu_p_044" onmousedown="shifuMouseDownStyle('shifu_p_044')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <div style="overflow:hidden;font-size:16px;word-break:break-word;">
                                <section style="margin: 0.5em auto;">
                                        <section style="display: inline-block; background-image: url(&quot;http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9naWYvY1pWMmhScHVBUGpUdzJpYWNNNlJKR2dnTzduVGZpY3p0dmFpYnRsUjdmOXFpYVRpYTE5c0pDaWJnTXJkSG9pYWlhUERtMEY4eDk0ZnZTbFoyRDhqdjhSZERQWk1idy8wP3d4X2ZtdD1naWY=&quot;); background-attachment: initial; background-size: 100% 100%; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: no-repeat;">
                                                <section style="margin-right: auto; margin-left: auto;">
                                                        <section style="padding: 2em 1em;box-sizing:border-box;"><p>那只东印度的孔雀 它善于飞 却不执着于飞 那只共布深谷的鹦鹉 它善于说 却不执着于说 内中玄机重重 鹦鹉不说 孔雀就更不说了 --仓央嘉措 《仓央嘉措诗传》</p></section>
                                                </section>
                                        </section>
                                </section>
                        </div>
                </div>
        </section>
</div>