<div class="itembox">
        <section id="shifu_p_043" onmousedown="shifuMouseDownStyle('shifu_p_043')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <div style="overflow:hidden;font-size:16px;word-break:break-word;">
                                <section style="padding: 30px; border: none; min-height: 150px; color: rgb(255, 255, 255);  white-space: normal; background-image: url(&quot;http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9naWYvY1pWMmhScHVBUGpUdzJpYWNNNlJKR2dnTzduVGZpY3p0dmlhUkVOT3BMY2FwTTlkdUM4SGtsUlZhblBra3VZcU91bkdzY1NPY2liOFkwWmliYzU3N0tIM0dlZy8wP3d4X2ZtdD1naWY=&quot;);"><p>所谓生活的滋味不一定是在你住在高级酒店的一刻，也不一定都是你一览众山小时的感慨，而是我们乏味似水的时时刻刻。by 朱白</p></section>
                        </div>
                </div>
        </section>
</div>