<div class="itembox">
        <section id="shifu_p_050" onmousedown="shifuMouseDownStyle('shifu_p_050')">
                <div style="background: #fefefe;padding:5px 8px;overflow: hidden;box-sizing:border-box">
                        <section style="max-width: 100%; padding: 0px; border: 0px none; margin: 0px; box-sizing: border-box; word-wrap: break-word !important; background-image: url(http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpei95cVZBcW9adkRpYkgzQlowY2g1M2lhRDJaSTRaTjZPUWhTaWJoZTExZUZ2alIzd0NwRDRaeDRpYU5jRWQ4ZUFkbDBwOG1jU0dnM3A5T1dvdEpoRFNMdTY3bHcvMA==); background-size: contain; background-position: 0% 50%; background-repeat: repeat; ">
                                <section style="color: rgb(255, 255, 255); box-sizing: border-box; background-color: rgba(194, 201, 42, 0.498039);">
                                        <section style="padding: 20px;box-sizing: border-box;width: 80%;margin: 0px auto;background-color: rgba(254, 254, 254, 0.6);">
                                                <div style="color: rgb(51, 51, 51);line-height: 1.75em;">我的天空里没有太阳，总是黑夜，但并不暗，因为有东西代替了太阳。虽然没有太阳那么明亮，但对我来说已经足够。凭借着这份光，我便能把黑夜当成白天。我从来就没有太阳，所以不怕失去。</div>
                                                <div style="color: rgb(51, 51, 51);line-height: 1.75em;">《白夜行》</div>
                                        </section>
                                </section>
                        </section>
                </div>
        </section>
</div>