<aside class="right-side cloud">
	<section class="content">
		<div class="row ">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-header" style="width:100%;">
						<button style="margin:5px; " class="btn btn-warning ajaxsubmit" >更新用户资料</button>
					</div>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover listcon" style="border:none;">
							<tbody>
								<tr>
									<td style="border:none;">
										<div class="disH" style="width:100%;height:100%;position:relative;">
											<div id="listwrapper">
												<div id="listscroller">
													<div id="showResult">
														<form id="subForm">
															<table id="list_table" class="table table-bordered table-hover" style="min-width:1440px;">
																<thead>
																<tr>
																	<th style="text-align:center;white-space:nowrap;">联系人</th>
																	<th style="text-align:center;white-space:nowrap;">操作</th>
																	<th style="text-align:center;white-space:nowrap;" class="sort select down" row="dateline">最近购买时间<i class="icon"></i></th>
																</tr>
																</thead>
																<tbody>
																	<tr>
																		<td style="white-space:nowrap;min-width:100px;overflow:hidden;text-align:left;">
																			<img src="./images/108634.jpg" style="width:30px;height:30px;">&nbsp;<a href="#/User_detail" title="今人生"><small class="badge  pull-right  bg-green">今</small>人生</a>
																		</td>
																		<td style="text-align:center;white-space:nowrap;"><i class="fa fa-edit"></i><a href="#/User_edit" class="edit">&nbsp;查看</a>&nbsp;<i class="fa fa-delete"></i><a href="javascript:;" class="delete">&nbsp;删除</a>&nbsp;</td>
																		<td style="text-align:center;white-space:nowrap;">17-11-15 14:01</td>
																	</tr>
																
																</tbody>
																<tfoot>
																	<tr>
																		<td style="white-space:nowrap;text-align:left;" colspan="8">共50491项</td>
																	</tr>
																</tfoot>
															</table>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div style="width:100%;white-space:nowrap;min-width:1440px;">
											<div class="dataTables_paginate paging_bootstrap">
												<ul class="pagination">
													<li class="active"><a href="javascript:;">1</a></li>
													<li><a href="javascript:;" >2</a></li>
													<li><a href="javascript:;">3</a></li>
													<li><a href="javascript:;" >4</a></li>
													<li><a href="javascript:;" >5</a></li>
													<li><a href="javascript:;" >Next →</a></li>
												</ul>
											</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<audio id="mediaaudio"></audio>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>
		