<aside class="right-side cloud">
	<section class="content">

		<div class="row">
			<div class="col-xs-12 btn-list">
				<button class="btn btn-warning edit"><a href="#/User_edit" style="color:#fff;" >编辑</a></button>
			</div>
			
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header" style="float:right;"></div>
					<div class="box-body table-responsive tab-outer">
						<table class="table table-bordered table-hover" style="min-width:320px;">
							<tbody>
								<tr>
									<td>
										<div class="tab-title ts user-tab">
											<ul class="nav-tabs">
												<li class="active" role="profile"><span><a href="javascript:;">资料</a></span></li>
												<li role="orders"><span><a href="javascript:;">订单</a></span></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="tab-content">
							<div class="tab-item tab-profile" style="opacity: 1;display: block;">
								<form method="post" id="view" enctype="multipart/form-data" action="">
									<table class="table table-bordered table-hover" style="min-width:320px;">
										<tbody>
											<tr>
												<td style="width:20%">编号</td>
												<td style="width:30%;overflow:hidden;" uid="">108634</td>
												<td style="width:20%">联系人</td>
												<td style="width:30%;overflow:hidden;">
													<input type="hidden" id="linkman" value="人生">人生
												</td>
											</tr>
											<tr>
												<td style="width:20%">昵称</td>
												<td style="width:30%;overflow:hidden;" nickname="">人生</td>
												<td style="width:20%">公司名称</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">真实姓名</td>
												<td style="width:30%;overflow:hidden;" position=""></td>
												<td style="width:20%">关注时间</td>
												<td style="width:30%;overflow:hidden;">2017-11-15 14:01</td>
											</tr>
											<tr>
												<td style="width:20%">性别</td>
												<td style="width:30%;overflow:hidden;" sex="">女</td>
												<td style="width:20%">年龄段</td>
												<td style="width:30%;overflow:hidden;">0</td>
											</tr>
											<tr>
												<td style="width:20%">最后访问</td>
												<td style="width:30%;overflow:hidden;" lastvisit="">2017-11-15 14:01</td>
												<td style="width:20%">最后互动时间</td>
												<td style="width:30%;overflow:hidden;">无</td>
											</tr>
											<tr>
												<td style="width:20%">在线时长</td>
												<td style="width:30%;overflow:hidden;" totaltime="">0分钟</td>
												<td style="width:20%">关注时间</td>
												<td style="width:30%;overflow:hidden;">2017-11-15 14:01</td>
											</tr>
											<tr>
												<td style="width:20%">手机</td>
												<td style="width:30%;overflow:hidden;" mobile=""></td>
												<td style="width:20%">电子邮件</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">头像</td>
												<td style="width:30%;overflow:hidden;" avatar="">
													<div class="item"><img src="./images/108634.jpg" style="width:60px;height:60px;"><a class="download_img icon" href="./images.jpg"><i class="fa fa-download"></i></a></div>
												</td>
												<td style="width:20%">地址</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">邮编</td>
												<td style="width:30%;overflow:hidden;" postcode=""></td>
												<td style="width:20%">电话</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">国家</td>
												<td style="width:30%;overflow:hidden;" country="">中国</td>
												<td style="width:20%">省市</td>
												<td style="width:30%;overflow:hidden;">安徽</td>
											</tr>
											<tr>
												<td style="width:20%">城市</td>
												<td style="width:30%;overflow:hidden;" city="">宿州</td>
												<td style="width:20%">语言</td>
												<td style="width:30%;overflow:hidden;">zh_CN</td>
											</tr>
											<tr>
												<td style="width:20%">是否关注</td>
												<td style="width:30%;overflow:hidden;" subscribe="">是</td>
												<td style="width:20%">手机系统</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">分享次数</td>
												<td style="width:30%;overflow:hidden;" shares="">0</td>
												<td style="width:20%">分享带来访问</td>
												<td style="width:30%;overflow:hidden;">0</td>
											</tr>
											<tr>
												<td style="width:20%">分享带来关注</td>
												<td style="width:30%;overflow:hidden;" subscribes="">0</td>
												<td style="width:20%">微信红包</td>
												<td style="width:30%;overflow:hidden;">0</td>
											</tr>
											<tr>
												<td style="width:20%">企业付款</td>
												<td style="width:30%;overflow:hidden;" qyhongbao="">0</td>
												<td style="width:20%">金币</td>
												<td style="width:30%;overflow:hidden;">100</td>
											</tr>
											<tr>
												<td style="width:20%">累计金币</td>
												<td style="width:30%;overflow:hidden;" credits="">100</td>
												<td style="width:20%">微信互动次数</td>
												<td style="width:30%;overflow:hidden;">0</td>
											</tr>
											<tr>
												<td style="width:20%">本月可推送次数</td>
												<td style="width:30%;overflow:hidden;" monthpush="">4</td>
												<td style="width:20%">微信号</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">认证信息</td>
												<td style="width:30%;overflow:hidden;" certification=""></td>
												<td style="width:20%">客户等级</td>
												<td style="width:30%;overflow:hidden;">新建</td>
											</tr>
											<tr>
												<td style="width:20%">服务人员</td>
												<td style="width:30%;overflow:hidden;" ownid="">0</td>
												<td style="width:20%">客服</td>
												<td style="width:30%;overflow:hidden;"></td>
											</tr>
											<tr>
												<td style="width:20%">推荐人</td>
												<td style="width:30%;overflow:hidden;" uploader=""><a href="#"></a></td>
												<td style="width:20%">微信分组</td>
												<td style="width:30%;overflow:hidden;">默认组</td>
											</tr>
											<tr>
												<td style="width:20%">是否销售</td>
												<td style="width:30%;overflow:hidden;" moderate="">1</td>
											</tr>
										</tbody>
										<tfoot>
											<tr></tr>
											<tr style="white-space:nowrap"><td colspan="4" style="text-align:center;">人生</td></tr>
											
										</tfoot>
									</table>
								</form>
							</div>
							<div class="tab-item tab-orders">
								<form id="subForm">
									<table id="list_table" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="orderno">订单编号<i class="icon"></i></th>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="username">用户名<i class="icon"></i></th>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="special">订单金额<i class="icon"></i></th>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="flag">状态<i class="icon"></i></th>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="dateline">时间<i class="icon"></i></th>
												<th style="text-align:center;white-space:nowrap;" class="sort up" row="dateline">订单详情<i class="icon"></i></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<!-- <td style="white-space:nowrap;text-align:center;" colspan="6">没有符合条件的信息</td> -->
												<td style="white-space:nowrap;text-align:center;">111</td>
												<td style="white-space:nowrap;text-align:center;">你好</td>
												<td style="white-space:nowrap;text-align:center;">搜索</td>
												<td style="white-space:nowrap;text-align:center;">你好</td>
												<td style="white-space:nowrap;text-align:center;">2017-09-20 19:00:00</td>
												<td style="white-space:nowrap;text-align:center;"><a href="#/Order_detail">订单详情</a></td>
											
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td style="white-space:nowrap;text-align:left;" colspan="6">共0项</td>
											</tr>
										</tfoot>
									</table>
								</form>
							</div>
						</div>
						
						
						<div class="col-xs-12"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			
		</div>
		<div class="row">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-body table-responsive">
							<table class="table table-bordered table-hover" style="min-width:768px;">
								<tbody>
									<tr>
										<td colspan="4" style="text-align:center;white-space:normal;">
											<div class="tab-title echart-tab" style="margin-bottom:5px;">
												<span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
												<h2>统计图</h2>
											</div>
										</td>
									</tr>
							   		<tr>
										<td colspan="4" style="text-align:center;white-space:normal;">
											<div id="mainradar1" class="chartdiv" _echarts_instance_="ec_1510725876795" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;">
												<div style="position: relative; overflow: hidden; width: 1039px; height: 280px; padding: 0px; margin: 0px; border-width: 0px;">
													<canvas width="1039" height="280" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 1039px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
												</div>
												<div></div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

				</div>
			</div>
		</div>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>
<script>
	$(".nav-tabs li").click(function(event){
		var role=this.getAttribute("role");
		// $("input[name=sendtype]",form).val(role);
		var tabCon = $(this).parents(".tab-outer").find(".tab-content");
		var tab = $(this).parent();
		if(this.className.search(/active/g)<0){
			tab.find("li").removeClass("active");
			$(this).addClass("active");
			$(".tab-item",tabCon).hide();
			$(".tab-item",tabCon).css("opacity","0");
			$(".tab-"+role,tabCon).show();
			$(".tab-"+role,tabCon).css("opacity","1");
		}
	});
</script>
		
		