<aside class="right-side cloud">
	<section class="content">
		<div class="row">
 				<div class="col-lg-3 col-xs-6">
	            <!-- small box -->
	            <a href="javascript:void(0);"  class="small-box-footer">
		            <div class="small-box bg-green">
		                <div class="inner">
		                    <h3><div id="newweixin">2</div></h3>
		                    <p>今日新增关注</p>
		                </div>
		                <div class="icon">
		                    <i class="ion ion-android-contact"></i>
		                </div>
						<!-- <div class="small-box-footer" style="text-align:center;">更多信息 
							<i class="fa fa-arrow-circle-right"></i>
						</div> -->
		            </div>
	            </a>
	        </div><!-- ./col -->
	        <div class="col-lg-3 col-xs-6">
	            <!-- small box -->
	            <a href="javascript:void(0);" class="small-box-footer">
		            <div class="small-box bg-aqua">
		                <div class="inner">
		                    <h3><div id="totalmembers">49668</div></h3>
		                    <p>总关注数</p>
		                </div>
		                <div class="icon"><i class="ion ion-person-add"></i></div>
		                <!-- <div class="small-box-footer" style="text-align:center;">更多信息 <i class="fa fa-arrow-circle-right"></i></div> -->
		            </div>
	            </a>
	        </div><!-- ./col -->
	        <div class="col-lg-3 col-xs-6">
	            <!-- small box -->
	            <a href="javascript:void(0);" class="small-box-footer">
		            <div class="small-box bg-yellow">
		                <div class="inner">
		                    <h3><div id="todaypv">8</div></h3>
		                    <p>今日取消关注</p>
		                </div>
		                <div class="icon"><i class="ion ion-stats-bars"></i></div>
		                 <!-- <div class="small-box-footer" style="text-align:center;">更多信息 <i class="fa fa-arrow-circle-right"></i></div> -->
		            </div>
	            </a>
	        </div><!-- ./col -->
			<div class="col-lg-3 col-xs-6">
		        <!-- small box -->
		        <div class="small-box bg-teal">
		            <div class="inner">
		                <h3><div id="dau">2</div></h3>
		                <p>今日登录用户</p>
		            </div>
		            <div class="icon"><i class="ion ion-ios7-bookmarks"></i></div>
		            <!-- <a href="javascript:;" class="small-box-footer">
		                更多信息 <i class="fa fa-arrow-circle-right"></i>
		            </a> -->
		        </div>
		    </div><!-- ./col -->
		</div>

		<div class="row">
			<div class="col-lg-3 col-xs-6">
		        <!-- small box -->
		        <a href="javascript:void(0);" class="small-box-footer">
		            <div class="small-box bg-red">
		                <div class="inner">
		                    <h3><div id="todayweixin">11</div></h3>
		                    <p>今日消息</p>
		                </div>
		                <div class="icon">
		                    <i class="ion ion-ios7-chatboxes-outline"></i>
		                </div>
		                <!-- <div class="small-box-footer" style="text-align:center;">更多信息 <i class="fa fa-arrow-circle-right"></i></div> -->
		            </div>
		        </a>
		    </div><!-- ./col -->
			<div class="col-lg-3 col-xs-6">
		        <!-- small box -->
		        <a href="javascript:void(0);" class="small-box-footer">
		            <div class="small-box bg-blue">
		                <div class="inner">
		                    <h3><div id="todayshare">0</div></h3>
		                    <p>今日分享</p>
		                </div>
		                <div class="icon"><i class="ion ion-share"></i></div>
		                <!-- <div class="small-box-footer" style="text-align:center;">更多信息 <i class="fa fa-arrow-circle-right"></i></div> -->
		            </div>
		        </a>
		    </div><!-- ./col -->

		    <div class="col-lg-3 col-xs-6">
		        <!-- small box -->
		        <a href="javascript:void(0);"  class="small-box-footer">
		            <div class="small-box bg-purple">
		                <div class="inner">
		                    <h3><div id="todayshareview">0</div></h3>
		                    <p>今日分享点击</p>
		                </div>
		                <div class="icon"><i class="ion ion-link"></i></div>
		                <!-- <div class="small-box-footer" style="text-align:center;">更多信息 <i class="fa fa-arrow-circle-right"></i></div> -->
		            </div>
		        </a>
		    </div><!-- ./col -->

			<!--没有微信g功能 stop-->
		    <div class="col-lg-3 col-xs-6">
		        <!-- small box -->
		        <div class="small-box bg-maroon">
		            <div class="inner">
		                <h3><div id="peruser">0</div></h3>
		                <p>今日平均浏览</p>
		            </div>
		            <div class="icon"><i class="ion ion-ios7-browsers"></i></div>
		            <!-- <a href="javascript:;" class="small-box-footer">
		                更多信息 <i class="fa fa-arrow-circle-right"></i>
		            </a> -->
		        </div>
		    </div><!-- ./col -->
		</div>				
		<div class="row">
			<div class="tab-title" style="margin-left:15px;margin-right:15px;margin-bottom:5px;">
				<span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
				<h2>统计图</h2>
				<ul class="nav-tabs">
					<li role="y"><a><span>年统计<span></span></span></a></li>
					<li class="active" role="m"><a><span>月统计<span></span></span></a></li>
					<li role="d"><a><span>日统计<span></span></span></a></li>
				</ul>
			</div>
			<section class="col-lg-6 connectedSortable">
                <div class="box">
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover">
							<tbody>
								<tr>
									<td>
										<div id="mainline5" class="chartdiv" _echarts_instance_="ec_1509589541068" 
										style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;">
											<div style="position: relative; overflow: hidden; width: 474px; height: 280px; padding: 0px; margin: 0px; border-width: 0px;">
												<canvas width="474" height="280" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 474px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;">
												</canvas>
											</div>
										<div>
										<!-- </div></div> -->
									</td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				 <script>
					page_success = true;
				 
				    var myChart5 = echarts.init(document.getElementById("mainline5"));
					var chartOption5 = {
						tooltip : {
							trigger: "axis"
						},

						toolbox: {
							show : true,
							right : '20',
							top : 20,
							bottom : 20,
							feature : {
								dataZoom: {},
								dataView: {readOnly: false},
								magicType: {type: ["line","bar"]},
								restore: {},
								saveAsImage: {}
							}
						},
						calculable : true,
						yAxis : [
							{
								type : "value"
							}
						],
						"series":[{"name":"\u5fae\u4fe1\u6bcf\u65e5\u5173\u6ce8\u6570","type":"line","smooth":true,"itemStyle":{"normal":{"areaStyle":{"type":"default","color":"#ffa180"},"color":"#ffa180","label":{"textStyle":{"fontSize":20}}}},"data":[73,54,37,54,57,43,38,64,68,91,83,51,42,28,47,56,61,44,43,50,39,55,56,63,74,70,45,60,61,2]}],"xAxis":{"type":"category","data":["10-04","10-05","10-06","10-07","10-08","10-09","10-10","10-11","10-12","10-13","10-14","10-15","10-16","10-17","10-18","10-19","10-20","10-21","10-22","10-23","10-24","10-25","10-26","10-27","10-28","10-29","10-30","10-31","11-01","11-02"]},"title":{"text":"\u5fae\u4fe1\u6bcf\u65e5\u5173\u6ce8\u6570(49287)","y":"top","x":"center","color":"red","textStyle":{"fontFamily":"\u5fae\u8f6f\u96c5\u9ed1","fontSize":30}},"legend":{"y":"bottom","data":["\u5fae\u4fe1\u6bcf\u65e5\u5173\u6ce8\u6570"]},"tooltip":{"textStyle":{"fontFamily":"\u5fae\u8f6f\u96c5\u9ed1","fontSize":20}}
					};
				    myChart5.setOption (chartOption5);
				</script>	                        	
			</section>
            <section class="col-lg-6 connectedSortable">
				<div class="box">
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover">
							<tbody>
								<tr>
									<td>
										<div id="mainline1" class="chartdiv" _echarts_instance_="ec_1509589541069" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;">
											<div style="position: relative; overflow: hidden; width: 474px; height: 280px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
												<canvas width="474" height="280" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 474px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;">
												</canvas>
											</div>
										<div><!-- </div></div> -->
									</td>
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				 <script>
					page_success = true;
				 
				    var myChart1 = echarts.init(document.getElementById("mainline1"));
					var chartOption1 = {
						tooltip : {
							trigger: "axis"
						},
						toolbox: {
							show : true,
							right : '20',
							top : 20,
							bottom : 20,
							feature : {
								dataZoom: {},
								dataView: {readOnly: false},
								magicType: {type: ["line","bar"]},
								restore: {},
								saveAsImage: {}
							}
						},
						calculable : true,
						yAxis : [
							{
								type : "value"
							}
						],
						"series":[{"name":"\u8bbf\u95ee\u91cf","type":"line","smooth":true,"itemStyle":{"normal":{"areaStyle":{"type":"default","color":"#d7cdeb"},"color":"#d7cdeb","label":{"textStyle":{"fontSize":20}}}},"data":["53","26","54","32","90","72","49","54","52","50","49","44","63","59","33","50","62","28","38","122","61","112","50","17","48","46","86",0,0,0]}],"xAxis":{"type":"category","data":["10-04","10-05","10-06","10-07","10-08","10-09","10-10","10-11","10-12","10-13","10-14","10-15","10-16","10-17","10-18","10-19","10-20","10-21","10-22","10-23","10-24","10-25","10-26","10-27","10-28","10-29","10-30","10-31","11-01","11-02"]},"title":{"text":"\u8bbf\u95ee\u91cf(38737)","y":"top","x":"center","color":"red","textStyle":{"fontFamily":"\u5fae\u8f6f\u96c5\u9ed1","fontSize":30}},"legend":{"y":"bottom","data":["\u8bbf\u95ee\u91cf"]},"tooltip":{"textStyle":{"fontFamily":"\u5fae\u8f6f\u96c5\u9ed1","fontSize":20}}
					};
				    myChart1.setOption (chartOption1);
				</script>	                     		
			</section>
			<script type="text/javascript">
				var setTabActive = function(){
					var herf_url=window.location.href;
					var index = herf_url.indexOf('?');
					var newUrl = herf_url.substr(0,index+1);
					var params = herf_url.substr(index+1).split("&");
					for(var i=0;i<params.length;i++){
						var p=params[i].split("=");
						if(p[0]=="datestyle"){
							$(".nav-tabs li").removeClass("active");
							$(".nav-tabs li[role="+p[1]+"]").addClass("active");
							break;
						}
					}
				};
				setTabActive();
		   		$(".nav-tabs li").click(function(event){
					event.preventDefault();
					var datestyle = $(this).attr('role');
					var herf_url=window.location.href;
					var index = herf_url.indexOf('?');
					var backurl;
					if(index>0)
					{
						var newUrl = herf_url.substr(0,index+1);
						var params = herf_url.substr(index+1).split("&");
						var pstr = [];
						for(var i=0;i<params.length;i++){
							var p=params[i].split("=");
							if(p[0]!="datestyle"){
								pstr.push(params[i]);
							}
						}
						backurl=newUrl+pstr.join("&")+"&datestyle="+datestyle;
					}
					else
					{
						backurl=window.location.href+"?datestyle="+datestyle;
					}
					location.href= backurl;
				});
	   		</script>
		</div>
	</section>
</aside>