<aside class="right-side cloud" style="">
	<section class="content" style="">
		<div class="row ">
			<div class="col-xs-12 connectedSortable">
				<div class="box">
					<div class="box-header" style="width:100%;"> </div>
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover listcon" style="border:none;">
							<tbody>
								<tr>
									<td style="border:none;">
										<div class="disH" style="width:100%;height:100%;position:relative;">
											<div id="listwrapper">
												<div id="listscroller">
													<div id="showResult">
														<form id="subForm">
															<table id="list_table" class="table table-bordered table-hover" style="min-width:768px;">
																<thead>
																	<tr>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="title">名称<i class="icon"></i></th>
																		<th style="text-align:center;white-space:nowrap;" class="sort up" row="count">数量<i class="icon"></i></th>
																	</tr>
																</thead>
																<tbody>
																	<tr trid="3" trmodule="plugin" truid="" trclassid="" trusername="">
																		<td>3.&nbsp;&nbsp;<a href="javascript:;" onclick="menuclick(&#39;admin.php?action=view&amp;module=plugin&amp;id=3&#39;)">金宝店</a></td>
																		<td style="text-align:left;">3270</td>
																	</tr>
																	<tr trid="4" trmodule="plugin" truid="" trclassid="" trusername="">
																		<td>4.&nbsp;&nbsp;<a href="javascript:;" onclick="menuclick(&#39;admin.php?action=view&amp;module=plugin&amp;id=4&#39;)">华贸店</a></td>
																		<td style="text-align:left;">2205</td>
																	</tr>

																</tbody>
																<tfoot>
																	<tr>
																		<td style="white-space:nowrap;text-align:left;" colspan="2">共37项</td>
																	</tr>
																</tfoot>
															</table>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div style="width:100%;white-space:nowrap;min-width:768px;">
											<div class="dataTables_paginate paging_bootstrap">
												<ul class="pagination">
													<li class="active"><a href="javascript:;">1</a></li><li><a href="javascript:;" onclick="menuclick(&#39;/admin/admin.php?module=plugin&amp;action=poisubscribe&amp;page=2&#39;);">2</a></li><li><a href="javascript:;" onclick="menuclick(&#39;/admin/admin.php?module=plugin&amp;action=poisubscribe&amp;page=2&#39;);">Next →</a></li>
												</ul>
											</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<audio id="mediaaudio"></audio>
		<link rel="stylesheet" href="./css/owl.css">
	</section>
</aside>